In [3]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup

## Scrapping sur [cieau](https://www.cieau.com/)

In [4]:
url_cieau = "https://www.cieau.com/le-metier-de-leau/ressource-en-eau-eau-potable-eaux-usees/la-consommation-deau-domestique-est-elle-la-meme-a-travers-le-monde/"

In [8]:
# User-Agent is UNIQUE to every internet user
#Zhifeng
header = {"User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/76.0.3809.100 Safari/537.36"}
#Philippe

In [9]:
response_cieau = requests.get(url_cieau, headers = header)

In [10]:
soup_cieau = BeautifulSoup(response_cieau.text, 'html.parser')

In [11]:
text = [s.get_text() for s in soup_cieau.find_all('div', {'class': 'contenu'})[-1].find_all('li')]

In [12]:
text

['Canada, Etats-Unis, Japon, Australie, Suisse : supérieur à 250 litres / personne / jour',
 'Finlande, Italie, Espagne, Portugal, Corée du sud, Grèce, Suède :\xa0de 160 à 250 litres / personne / jour',
 'Danemark, Royaume-Uni, Autriche, France, Luxembourg, Irlande : de 130 à 160 litres / personne / jour',
 'Allemagne, Pays-Bas, Belgique, Hongrie, Bulgarie, Pologne, République Tchèque :\xa0inférieur à 130 litres / personne / jour',
 'Asie et Amérique Latine : de 50 à 100 litres / personne / jour',
 'Afrique Sub-Saharienne : de 10 à 20 litres / personne / jour']

In [13]:
countries = []
consumptions = []
for t in text:
    countries.append(t.replace(" et ", ", ").split(":")[0].strip())
    consumptions.append(t.split(":")[1].strip().replace(" litres / personne / jour", ""))

In [14]:
countries

['Canada, Etats-Unis, Japon, Australie, Suisse',
 'Finlande, Italie, Espagne, Portugal, Corée du sud, Grèce, Suède',
 'Danemark, Royaume-Uni, Autriche, France, Luxembourg, Irlande',
 'Allemagne, Pays-Bas, Belgique, Hongrie, Bulgarie, Pologne, République Tchèque',
 'Asie, Amérique Latine',
 'Afrique Sub-Saharienne']

In [15]:
consumptions

['supérieur à 250',
 'de 160 à 250',
 'de 130 à 160',
 'inférieur à 130',
 'de 50 à 100',
 'de 10 à 20']

In [16]:
list_countries = []
for c in countries:
    list_countries += c.split(", ")

In [17]:
list_countries

['Canada',
 'Etats-Unis',
 'Japon',
 'Australie',
 'Suisse',
 'Finlande',
 'Italie',
 'Espagne',
 'Portugal',
 'Corée du sud',
 'Grèce',
 'Suède',
 'Danemark',
 'Royaume-Uni',
 'Autriche',
 'France',
 'Luxembourg',
 'Irlande',
 'Allemagne',
 'Pays-Bas',
 'Belgique',
 'Hongrie',
 'Bulgarie',
 'Pologne',
 'République Tchèque',
 'Asie',
 'Amérique Latine',
 'Afrique Sub-Saharienne']

In [18]:
list_consumptions = []
for i in range(len(consumptions)):
    for j in range(len(countries[i].split(", "))):
        list_consumptions.append(consumptions[i])

In [19]:
list_consumptions

['supérieur à 250',
 'supérieur à 250',
 'supérieur à 250',
 'supérieur à 250',
 'supérieur à 250',
 'de 160 à 250',
 'de 160 à 250',
 'de 160 à 250',
 'de 160 à 250',
 'de 160 à 250',
 'de 160 à 250',
 'de 160 à 250',
 'de 130 à 160',
 'de 130 à 160',
 'de 130 à 160',
 'de 130 à 160',
 'de 130 à 160',
 'de 130 à 160',
 'inférieur à 130',
 'inférieur à 130',
 'inférieur à 130',
 'inférieur à 130',
 'inférieur à 130',
 'inférieur à 130',
 'inférieur à 130',
 'de 50 à 100',
 'de 50 à 100',
 'de 10 à 20']

In [20]:
data_conso = pd.DataFrame(zip(list_countries, list_consumptions, ["cieau.com"]*28), columns=["Pays", "Consommation (litres/personne/jour)", "Source"])

In [21]:
data_conso

                      Pays Consommation (litres/personne/jour)     Source
0                   Canada                     supérieur à 250  cieau.com
1               Etats-Unis                     supérieur à 250  cieau.com
2                    Japon                     supérieur à 250  cieau.com
3                Australie                     supérieur à 250  cieau.com
4                   Suisse                     supérieur à 250  cieau.com
5                 Finlande                        de 160 à 250  cieau.com
6                   Italie                        de 160 à 250  cieau.com
7                  Espagne                        de 160 à 250  cieau.com
8                 Portugal                        de 160 à 250  cieau.com
9             Corée du sud                        de 160 à 250  cieau.com
10                   Grèce                        de 160 à 250  cieau.com
11                   Suède                        de 160 à 250  cieau.com
12                Danemark                        de 130 à 160  cieau.com
13             Royaume-Uni                        de 130 à 160  cieau.com
14                Autriche                        de 130 à 160  cieau.com
15                  France                        de 130 à 160  cieau.com
16              Luxembourg                        de 130 à 160  cieau.com
17                 Irlande                        de 130 à 160  cieau.com
18               Allemagne                     inférieur à 130  cieau.com
19                Pays-Bas                     inférieur à 130  cieau.com
20                Belgique                     inférieur à 130  cieau.com
21                 Hongrie                     inférieur à 130  cieau.com
22                Bulgarie                     inférieur à 130  cieau.com
23                 Pologne                     inférieur à 130  cieau.com
24      République Tchèque                     inférieur à 130  cieau.com
25                    Asie                         de 50 à 100  cieau.com
26         Amérique Latine                         de 50 à 100  cieau.com
27  Afrique Sub-Saharienne                          de 10 à 20  cieau.com

In [22]:
file_name = '../data/data_conso.csv'
data_conso.to_csv(file_name, sep=',', 
                  encoding='utf-8', index=False)