# WATER SCARCITY by country (rareté de l'eau)
## with prediction of future situation
## Target (objectif de prediction) : 
##    accessible drinking water per inhabitant

## 1. Scrapping

- Starting Scrapping
- Managing connexion shutdown, i.e. restarting loading at the same point
- Random time scrapping in order to stay hidden
- Manage 'my user agent' in order to scrap in 'browser mode' and not 'robot mode'
- Sites à scrapper :
- ---Consommation moyenne d'eau par habitant et par pays
- - https://www.cieau.com/le-metier-de-leau/ressource-en-eau-eau-potable-eaux-usees/la-consommation-deau-domestique-est-elle-la-meme-a-travers-le-monde/
- - https://fr.wikipedia.org/wiki/Consommation_d%27eau_domestique_par_pays
- --- Consommation d'eau virtuelle
- - https://www.consoglobe.com/eau-virtuelle-conflit-3120-cg
- - https://www.consoglobe.com/eau-virtuelle-consommation-cachee-cg
The idea with scrapping  is :
- each scrapping is specific to one web site (html code for balises)
- if web site is javascript encoded, you have to use a javascript interface to a 'false internet explorer (google or other)' , then send the 'html transformation' to BeautifulSoup

## 2. Ressources
FAO and UNO sites are web accessing datas, directly or with 'wget' command
- FAO http://www.fao.org/nr/water/aquastat/data/query/index.html
- UNO https://population.un.org/wpp/Download/Standard/Population/
- Population Mondiale par Pays ou Région (UNO)
- Total Population per Country (FAO Aquastat)
- Water disponibility per Country or Region (FAO Aquastat)
- Water consumption per inhabitant, by Country or Region (FAO + divers documents moyennés)
- [GDP per capita] = [Gross Domestic Product (GDP)]/[Total population]/1000  (FAO Aquastat)

In [3]:
import pandas as pd
import numpy as np

In [4]:
dataf = pd.read_csv("../data/FAO_aquastat_flat_1958_2017.csv")

In [5]:
datac = pd.read_csv("../data/FAO_aquastat_tables_1958_2017.csv")

In [6]:
dataf.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
Austria,11.0,Total population,4104.0,1962.0,7157.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1967.0,7397.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1972.0,7581.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1977.0,7637.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1982.0,7602.0,E,NaN,NaN

In [19]:
test = dataf.copy()
test.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
Austria,11.0,Total population,4104.0,1962.0,7157.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1967.0,7397.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1972.0,7581.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1977.0,7637.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1982.0,7602.0,E,NaN,NaN

In [20]:
test = test.reset_index()
test = test.rename(columns = {'index':'Country', 'Area Id':'Attribute'})
test.head()

,Country,Area,Attribute,Variable Name,Variable Id,Year,Value,Symbol,Md
0,Austria,11.0,Total population,4104.0,1962.0,7157.0,E,NaN,NaN
1,Austria,11.0,Total population,4104.0,1967.0,7397.0,E,NaN,NaN
2,Austria,11.0,Total population,4104.0,1972.0,7581.0,E,NaN,NaN
3,Austria,11.0,Total population,4104.0,1977.0,7637.0,E,NaN,NaN
4,Austria,11.0,Total population,4104.0,1982.0,7602.0,E,NaN,NaN

In [210]:
print(dataf.info())
print(dataf.iloc[7070])

<class 'pandas.core.frame.DataFrame'>
Index: 7140 entries, Austria to FAO. 2016. AQUASTAT Main Database - Food and Agriculture Organization of the United Nations (FAO). Website accessed on[19/08/2019 17:12]
Data columns (total 8 columns):
Area             7071 non-null float64
Area Id          7071 non-null object
Variable Name    7071 non-null float64
Variable Id      7071 non-null float64
Year             7071 non-null float64
Value            5356 non-null object
Symbol           60 non-null object
Md               0 non-null float64
dtypes: float64(5), object(3)
memory usage: 662.0+ KB
None
Area                                         231
Area Id          Environmental Flow Requirements
Variable Name                               4549
Variable Id                                 2017
Year                                        1491
Value                                          E
Symbol                                       NaN
Md                                           NaN
Name: United States of America, dtype: object

In [165]:
dataf1 = dataf.rename(columns = {'Area':'Country', 'Variable Name':'Attribute'})
dataf1.drop(columns=['Area Id','Variable Id','Symbol','Md'], inplace=True)
print(dataf1.info())
print(dataf1.head())

<class 'pandas.core.frame.DataFrame'>
Index: 7140 entries, Austria to FAO. 2016. AQUASTAT Main Database - Food and Agriculture Organization of the United Nations (FAO). Website accessed on[19/08/2019 17:12]
Data columns (total 4 columns):
Country      7071 non-null float64
Attribute    7071 non-null float64
Year         7071 non-null float64
Value        5356 non-null object
dtypes: float64(3), object(1)
memory usage: 278.9+ KB
None
         Country  Attribute    Year Value
Austria     11.0     4104.0  7157.0     E
Austria     11.0     4104.0  7397.0     E
Austria     11.0     4104.0  7581.0     E
Austria     11.0     4104.0  7637.0     E
Austria     11.0     4104.0  7602.0     E

In [109]:
datac.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1958-1962,Unnamed: 4,Unnamed: 5,Unnamed: 6,1963-1967,Unnamed: 8,Unnamed: 9,...,Unnamed: 40,Unnamed: 41,Unnamed: 42,2008-2012,Unnamed: 44,Unnamed: 45,Unnamed: 46,2013-2017,Unnamed: 48,Unnamed: 49
0,Austria,Total population (1000 inhab),1962.0,7157.0,E,NaN,1967.0,7397.0,E,NaN,...,E,NaN,2012.0,8518.0,E,NaN,2017.0,8735.0,E,NaN
1,Austria,Rural population (1000 inhab),1962.0,2527.0,E,NaN,1967.0,2596.0,E,NaN,...,E,NaN,2012.0,2943.0,E,NaN,2017.0,3036.0,E,NaN
2,Austria,Urban population (1000 inhab),1962.0,4630.0,E,NaN,1967.0,4801.0,E,NaN,...,E,NaN,2012.0,5575.0,E,NaN,2017.0,5699.0,E,NaN
3,Austria,Population density (inhab/km2),1962.0,85.32,E,NaN,1967.0,88.19,E,NaN,...,E,NaN,2012.0,101.5,E,NaN,2017.0,104.1,E,NaN
4,Austria,Gross Domestic Product (GDP) (current US$),1962.0,7.75611021E9,E,NaN,1967.0,1.1579431669E10,E,NaN,...,E,NaN,2012.0,4.07E11,E,NaN,2015.0,3.74E11,E,NaN

In [135]:
datac = datac.rename(columns = {'Unnamed: 0':'Country', 'Unnamed: 1':'Attribute'})
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 50 columns):
Country        905 non-null object
Attribute      837 non-null object
Unnamed: 2     462 non-null float64
1958-1962      492 non-null object
Unnamed: 4     337 non-null object
Unnamed: 5     5 non-null object
Unnamed: 6     462 non-null float64
1963-1967      492 non-null object
Unnamed: 8     337 non-null object
Unnamed: 9     5 non-null object
Unnamed: 10    503 non-null float64
1968-1972      533 non-null object
Unnamed: 12    368 non-null object
Unnamed: 13    5 non-null object
Unnamed: 14    505 non-null float64
1973-1977      535 non-null object
Unnamed: 16    375 non-null object
Unnamed: 17    5 non-null object
Unnamed: 18    535 non-null float64
1978-1982      565 non-null object
Unnamed: 20    397 non-null object
Unnamed: 21    5 non-null object
Unnamed: 22    535 non-null float64
1983-1987      565 non-null object
Unnamed: 24    399 non-null object
Unnamed: 25    5 non-null object
Unnamed: 26    653 non-null float64
1988-1992      683 non-null object
Unnamed: 28    505 non-null object
Unnamed: 29    6 non-null object
Unnamed: 30    649 non-null float64
1993-1997      679 non-null object
Unnamed: 32    496 non-null object
Unnamed: 33    6 non-null object
Unnamed: 34    699 non-null float64
1998-2002      729 non-null object
Unnamed: 36    557 non-null object
Unnamed: 37    6 non-null object
Unnamed: 38    682 non-null float64
2003-2007      712 non-null object
Unnamed: 40    536 non-null object
Unnamed: 41    6 non-null object
Unnamed: 42    718 non-null float64
2008-2012      748 non-null object
Unnamed: 44    563 non-null object
Unnamed: 45    6 non-null object
Unnamed: 46    668 non-null float64
2013-2017      698 non-null object
Unnamed: 48    486 non-null object
Unnamed: 49    0 non-null float64
dtypes: float64(13), object(37)
memory usage: 365.4+ KB

In [113]:
datac.columns

Index(['Country', 'Attribute', 'Unnamed: 2', '1958-1962', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', '1963-1967', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', '1968-1972', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       '1973-1977', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', '1978-1982',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', '1983-1987', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', '1988-1992', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', '1993-1997', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       '1998-2002', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', '2003-2007',
       'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', '2008-2012', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', '2013-2017', 'Unnamed: 48',
       'Unnamed: 49'],
      dtype='object')

In [115]:
datac.iloc[1]

Country                              Austria
Attribute      Rural population (1000 inhab)
Unnamed: 2                              1962
1958-1962                             2527.0
Unnamed: 4                                 E
Unnamed: 5                               NaN
Unnamed: 6                              1967
1963-1967                             2596.0
Unnamed: 8                                 E
Unnamed: 9                               NaN
Unnamed: 10                             1972
1968-1972                             2644.0
Unnamed: 12                                E
Unnamed: 13                              NaN
Unnamed: 14                             1977
1973-1977                             2667.0
Unnamed: 16                                E
Unnamed: 17                              NaN
Unnamed: 18                             1982
1978-1982                             2660.0
Unnamed: 20                                E
Unnamed: 21                              NaN
Unnamed: 22                             1987
1983-1987                             2655.0
Unnamed: 24                                E
Unnamed: 25                              NaN
Unnamed: 26                             1992
1988-1992                             2700.0
Unnamed: 28                                E
Unnamed: 29                              NaN
Unnamed: 30                             1997
1993-1997                             2760.0
Unnamed: 32                                E
Unnamed: 33                              NaN
Unnamed: 34                             2002
1998-2002                             2809.0
Unnamed: 36                                E
Unnamed: 37                              NaN
Unnamed: 38                             2007
2003-2007                             2840.0
Unnamed: 40                                E
Unnamed: 41                              NaN
Unnamed: 42                             2012
2008-2012                             2943.0
Unnamed: 44                                E
Unnamed: 45                              NaN
Unnamed: 46                             2017
2013-2017                             3036.0
Unnamed: 48                                E
Unnamed: 49                              NaN
Name: 1, dtype: object

In [116]:
datac1 = datac.copy()
for v in range(50) :
    try :
        datac1.drop(columns=f'Unnamed: {v}', inplace=True)
    except : 
        pass

In [117]:
datac1.columns

Index(['Country', 'Attribute', '1958-1962', '1963-1967', '1968-1972',
       '1973-1977', '1978-1982', '1983-1987', '1988-1992', '1993-1997',
       '1998-2002', '2003-2007', '2008-2012', '2013-2017'],
      dtype='object')

In [121]:
print('data nb rows and columns')
print(datac1.shape[0],datac1.shape[1])

data nb rows and columns
935 14

In [125]:
datac1.iloc[866]  # a partir de l'index 867 ce ne sont plus que des infos inutiles sur le fichier lui-même

Country                            United States of America
Attribute    Environmental Flow Requirements (10^9 m3/year)
1958-1962                                            1491.0
1963-1967                                            1491.0
1968-1972                                            1491.0
1973-1977                                            1491.0
1978-1982                                            1491.0
1983-1987                                            1491.0
1988-1992                                            1491.0
1993-1997                                            1491.0
1998-2002                                            1491.0
2003-2007                                            1491.0
2008-2012                                            1491.0
2013-2017                                            1491.0
Name: 866, dtype: object

In [138]:
datac2 = datac1[datac1.index < 867]
datac2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 867 entries, 0 to 866
Data columns (total 14 columns):
Country      837 non-null object
Attribute    837 non-null object
1958-1962    492 non-null object
1963-1967    492 non-null object
1968-1972    533 non-null object
1973-1977    535 non-null object
1978-1982    565 non-null object
1983-1987    565 non-null object
1988-1992    683 non-null object
1993-1997    679 non-null object
1998-2002    729 non-null object
2003-2007    712 non-null object
2008-2012    748 non-null object
2013-2017    698 non-null object
dtypes: object(14)
memory usage: 101.6+ KB

## 3. Data Features - first on one country or region, then extension
- Datas from 1988 to 2019, year by year - idealy week per week !
- As many datafiles as Country
- Each file is a feature / date datafile
- Global water at disposal for population (by Country)
- Detail water at disposal (eventualy) : rivers (instant stream), dams (volume), underground (volume), etc.
- Population count (by country)
- GDP (gross domestic product or PIB or HDI human development index)
- Usage related datas :
- - average water consumption per inhabitant (by country)
- - average energy consumption per inhabitant (by country) or water consumption for energy production
- - eventualy, industrialisation rate or water use for industrie (by country)
- - eventualy, agricultural rate or water use for agriculture (by country)

## 4. Preprocessing
- data formating : for exemple 1 dataset for 1 country with the year as column and features as rows
- data cleaning
- FAO EDA simple analysis (Exploratory Data Analysis) :
- - https://www.kaggle.com/marcinjadwizyc/fao-simple-eda
- - https://www.kaggle.com/hungnd11/exploring-the-fao-dataset
- Hydrofunctions
- - https://github.com/mroberge/hydrofunctions

## 5. Modeling
- Statistics using Machine Learning
- Prediction with time series or others

## 6. Restitution
- Précontainérisation : fichier de variables de configuration multi-utilisateurs
- - Requirement.txt
- - launching file (an url file)
- Map and curves restitution on actual and predictive water stress by country
- Interactive web restitution