# WATER SCARCITY by country (rareté de l'eau)
## with prediction of future situation
## Target (objectif de prediction) : 
##    accessible drinking water per inhabitant

## 1. Scrapping

- Starting Scrapping
- Managing connexion shutdown, i.e. restarting loading at the same point
- Random time scrapping in order to stay hidden
- Manage 'my user agent' in order to scrap in 'browser mode' and not 'robot mode'
- Sites à scrapper :
- ---Consommation moyenne d'eau par habitant et par pays
- - https://www.cieau.com/le-metier-de-leau/ressource-en-eau-eau-potable-eaux-usees/la-consommation-deau-domestique-est-elle-la-meme-a-travers-le-monde/
- - https://fr.wikipedia.org/wiki/Consommation_d%27eau_domestique_par_pays
- --- Consommation d'eau virtuelle
- - https://www.consoglobe.com/eau-virtuelle-conflit-3120-cg
- - https://www.consoglobe.com/eau-virtuelle-consommation-cachee-cg
The idea with scrapping  is :
- each scrapping is specific to one web site (html code for balises)
- if web site is javascript encoded, you have to use a javascript interface to a 'false internet explorer (google or other)' , then send the 'html transformation' to BeautifulSoup

## 2. Ressources
FAO and UNO sites are web accessing datas, directly or with 'wget' command
- FAO http://www.fao.org/nr/water/aquastat/data/query/index.html
- UNO https://population.un.org/wpp/Download/Standard/Population/
- Population Mondiale par Pays ou Région (UNO)
- Total Population per Country (FAO Aquastat)
- Water disponibility per Country or Region (FAO Aquastat)
- Water consumption per inhabitant, by Country or Region (FAO + divers documents moyennés)
- [GDP per capita] = [Gross Domestic Product (GDP)]/[Total population]/1000  (FAO Aquastat)

In [3]:
import pandas as pd
import numpy as np

In [4]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 8000)
#pd.set_option('display.width', 1000)

In [5]:
dataf = pd.read_csv("../data/FAO_aquastat_flat_1958_2017.csv")
datac = pd.read_csv("../data/FAO_aquastat_tables_1958_2017.csv")

In [6]:
dataf.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
Austria,11.0,Total population,4104.0,1962.0,7157.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1967.0,7397.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1972.0,7581.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1977.0,7637.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1982.0,7602.0,E,NaN,NaN

In [7]:
dataf1 = dataf.copy()
dataf1 = dataf1.reset_index()
dataf1 = dataf1.rename(columns = {'index':'country', 
                                  'Area Id':'attribute',
                                  'Variable Id' : 'year',
                                  'Year' : 'value'})
dataf1.drop(columns=['Area','Variable Name','Value','Symbol','Md'], inplace=True)
dataf1.head()

   country         attribute    year   value
0  Austria  Total population  1962.0  7157.0
1  Austria  Total population  1967.0  7397.0
2  Austria  Total population  1972.0  7581.0
3  Austria  Total population  1977.0  7637.0
4  Austria  Total population  1982.0  7602.0

In [8]:
print(dataf1.info())
print(dataf1.iloc[7070])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7140 entries, 0 to 7139
Data columns (total 4 columns):
country      7139 non-null object
attribute    7071 non-null object
year         7071 non-null float64
value        7071 non-null float64
dtypes: float64(2), object(2)
memory usage: 223.2+ KB
None
country             United States of America
attribute    Environmental Flow Requirements
year                                    2017
value                                   1491
Name: 7070, dtype: object

In [9]:
datac.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1958-1962,Unnamed: 4,Unnamed: 5,Unnamed: 6,1963-1967,Unnamed: 8,Unnamed: 9,Unnamed: 10,1968-1972,Unnamed: 12,Unnamed: 13,Unnamed: 14,1973-1977,Unnamed: 16,Unnamed: 17,Unnamed: 18,1978-1982,Unnamed: 20,Unnamed: 21,Unnamed: 22,1983-1987,Unnamed: 24,Unnamed: 25,Unnamed: 26,1988-1992,Unnamed: 28,Unnamed: 29,Unnamed: 30,1993-1997,Unnamed: 32,Unnamed: 33,Unnamed: 34,1998-2002,Unnamed: 36,Unnamed: 37,Unnamed: 38,2003-2007,Unnamed: 40,Unnamed: 41,Unnamed: 42,2008-2012,Unnamed: 44,Unnamed: 45,Unnamed: 46,2013-2017,Unnamed: 48,Unnamed: 49
0,Austria,Total population (1000 inhab),1962.0,7157.0,E,NaN,1967.0,7397.0,E,NaN,1972.0,7581.0,E,NaN,1977.0,7637.0,E,NaN,1982.0,7602.0,E,NaN,1987.0,7639.0,E,NaN,1992.0,7831.0,E,NaN,1997.0,8033.0,E,NaN,2002.0,8134.0,E,NaN,2007.0,8312.0,E,NaN,2012.0,8518.0,E,NaN,2017.0,8735.0,E,NaN
1,Austria,Rural population (1000 inhab),1962.0,2527.0,E,NaN,1967.0,2596.0,E,NaN,1972.0,2644.0,E,NaN,1977.0,2667.0,E,NaN,1982.0,2660.0,E,NaN,1987.0,2655.0,E,NaN,1992.0,2700.0,E,NaN,1997.0,2760.0,E,NaN,2002.0,2809.0,E,NaN,2007.0,2840.0,E,NaN,2012.0,2943.0,E,NaN,2017.0,3036.0,E,NaN
2,Austria,Urban population (1000 inhab),1962.0,4630.0,E,NaN,1967.0,4801.0,E,NaN,1972.0,4937.0,E,NaN,1977.0,4970.0,E,NaN,1982.0,4942.0,E,NaN,1987.0,4984.0,E,NaN,1992.0,5131.0,E,NaN,1997.0,5273.0,E,NaN,2002.0,5325.0,E,NaN,2007.0,5472.0,E,NaN,2012.0,5575.0,E,NaN,2017.0,5699.0,E,NaN
3,Austria,Population density (inhab/km2),1962.0,85.32,E,NaN,1967.0,88.19,E,NaN,1972.0,90.38,E,NaN,1977.0,91.05,E,NaN,1982.0,90.63,E,NaN,1987.0,91.07,E,NaN,1992.0,93.36,E,NaN,1997.0,95.77,E,NaN,2002.0,96.97,E,NaN,2007.0,99.09,E,NaN,2012.0,101.5,E,NaN,2017.0,104.1,E,NaN
4,Austria,Gross Domestic Product (GDP) (current US$),1962.0,7.75611021E9,E,NaN,1967.0,1.1579431669E10,E,NaN,1972.0,2.2006470861E10,E,NaN,1977.0,5.142158563E10,E,NaN,1982.0,7.1103585384E10,E,NaN,1987.0,1.24E11,E,NaN,1992.0,1.95E11,E,NaN,1997.0,2.12E11,E,NaN,2002.0,2.13E11,E,NaN,2007.0,3.86E11,E,NaN,2012.0,4.07E11,E,NaN,2015.0,3.74E11,E,NaN

In [10]:
datac = datac.rename(columns = {'Unnamed: 0':'country', 
                                'Unnamed: 1':'attribute',
                                'Unnamed: 2':'year1',
                                'Unnamed: 6':'year2',
                                'Unnamed: 10':'year3',
                                'Unnamed: 14':'year4',
                                'Unnamed: 18':'year5',
                                'Unnamed: 22':'year6',
                                'Unnamed: 26':'year7',
                                'Unnamed: 30':'year8',                               
                                'Unnamed: 34':'year9',
                                'Unnamed: 38':'year10',
                                'Unnamed: 42':'year11',
                                'Unnamed: 46':'year12'
                               })
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 50 columns):
country        905 non-null object
attribute      837 non-null object
year1          462 non-null float64
1958-1962      492 non-null object
Unnamed: 4     337 non-null object
Unnamed: 5     5 non-null object
year2          462 non-null float64
1963-1967      492 non-null object
Unnamed: 8     337 non-null object
Unnamed: 9     5 non-null object
year3          503 non-null float64
1968-1972      533 non-null object
Unnamed: 12    368 non-null object
Unnamed: 13    5 non-null object
year4          505 non-null float64
1973-1977      535 non-null object
Unnamed: 16    375 non-null object
Unnamed: 17    5 non-null object
year5          535 non-null float64
1978-1982      565 non-null object
Unnamed: 20    397 non-null object
Unnamed: 21    5 non-null object
year6          535 non-null float64
1983-1987      565 non-null object
Unnamed: 24    399 non-null object
Unnamed: 25    5 non-null object
year7          653 non-null float64
1988-1992      683 non-null object
Unnamed: 28    505 non-null object
Unnamed: 29    6 non-null object
year8          649 non-null float64
1993-1997      679 non-null object
Unnamed: 32    496 non-null object
Unnamed: 33    6 non-null object
year9          699 non-null float64
1998-2002      729 non-null object
Unnamed: 36    557 non-null object
Unnamed: 37    6 non-null object
year10         682 non-null float64
2003-2007      712 non-null object
Unnamed: 40    536 non-null object
Unnamed: 41    6 non-null object
year11         718 non-null float64
2008-2012      748 non-null object
Unnamed: 44    563 non-null object
Unnamed: 45    6 non-null object
year12         668 non-null float64
2013-2017      698 non-null object
Unnamed: 48    486 non-null object
Unnamed: 49    0 non-null float64
dtypes: float64(13), object(37)
memory usage: 365.4+ KB

In [11]:
datac.columns

Index(['country', 'attribute', 'year1', '1958-1962', 'Unnamed: 4',
       'Unnamed: 5', 'year2', '1963-1967', 'Unnamed: 8', 'Unnamed: 9', 'year3',
       '1968-1972', 'Unnamed: 12', 'Unnamed: 13', 'year4', '1973-1977',
       'Unnamed: 16', 'Unnamed: 17', 'year5', '1978-1982', 'Unnamed: 20',
       'Unnamed: 21', 'year6', '1983-1987', 'Unnamed: 24', 'Unnamed: 25',
       'year7', '1988-1992', 'Unnamed: 28', 'Unnamed: 29', 'year8',
       '1993-1997', 'Unnamed: 32', 'Unnamed: 33', 'year9', '1998-2002',
       'Unnamed: 36', 'Unnamed: 37', 'year10', '2003-2007', 'Unnamed: 40',
       'Unnamed: 41', 'year11', '2008-2012', 'Unnamed: 44', 'Unnamed: 45',
       'year12', '2013-2017', 'Unnamed: 48', 'Unnamed: 49'],
      dtype='object')

In [12]:
datac1 = datac.copy()
for v in range(50) :
    try :
        datac1.drop(columns=f'Unnamed: {v}', inplace=True)
    except : 
        pass

In [13]:
datac1.columns

Index(['country', 'attribute', 'year1', '1958-1962', 'year2', '1963-1967',
       'year3', '1968-1972', 'year4', '1973-1977', 'year5', '1978-1982',
       'year6', '1983-1987', 'year7', '1988-1992', 'year8', '1993-1997',
       'year9', '1998-2002', 'year10', '2003-2007', 'year11', '2008-2012',
       'year12', '2013-2017'],
      dtype='object')

In [28]:
datac1.head(10)

,country,attribute,year1,1958-1962,year2,1963-1967,year3,1968-1972,year4,1973-1977,year5,1978-1982,year6,1983-1987,year7,1988-1992,year8,1993-1997,year9,1998-2002,year10,2003-2007,year11,2008-2012,year12,2013-2017
0,Austria,Total population (1000 inhab),1962.0,7157.0,1967.0,7397.0,1972.0,7581.0,1977.0,7637.0,1982.0,7602.0,1987.0,7639.0,1992.0,7831.0,1997.0,8033.0,2002.0,8134.0,2007.0,8312.0,2012.0,8518.0,2017.0,8735.0
1,Austria,Rural population (1000 inhab),1962.0,2527.0,1967.0,2596.0,1972.0,2644.0,1977.0,2667.0,1982.0,2660.0,1987.0,2655.0,1992.0,2700.0,1997.0,2760.0,2002.0,2809.0,2007.0,2840.0,2012.0,2943.0,2017.0,3036.0
2,Austria,Urban population (1000 inhab),1962.0,4630.0,1967.0,4801.0,1972.0,4937.0,1977.0,4970.0,1982.0,4942.0,1987.0,4984.0,1992.0,5131.0,1997.0,5273.0,2002.0,5325.0,2007.0,5472.0,2012.0,5575.0,2017.0,5699.0
3,Austria,Population density (inhab/km2),1962.0,85.32,1967.0,88.19,1972.0,90.38,1977.0,91.05,1982.0,90.63,1987.0,91.07,1992.0,93.36,1997.0,95.77,2002.0,96.97,2007.0,99.09,2012.0,101.5,2017.0,104.1
4,Austria,Gross Domestic Product (GDP) (current US$),1962.0,7.75611021E9,1967.0,1.1579431669E10,1972.0,2.2006470861E10,1977.0,5.142158563E10,1982.0,7.1103585384E10,1987.0,1.24E11,1992.0,1.95E11,1997.0,2.12E11,2002.0,2.13E11,2007.0,3.86E11,2012.0,4.07E11,2015.0,3.74E11
5,Austria,GDP per capita (current US$/inhab),1962.0,1084.0,1967.0,1565.0,1972.0,2903.0,1977.0,6733.0,1982.0,9353.0,1987.0,16232.0,1992.0,24901.0,1997.0,26391.0,2002.0,26186.0,2007.0,46439.0,2012.0,47781.0,2015.0,42816.0
6,Austria,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,0.7935,NaN,NaN,2000.0,0.8364,NaN,NaN,2012.0,0.8839,2014.0,0.885
7,Austria,Long-term average annual precipitation in dept...,1962.0,1110.0,1967.0,1110.0,1972.0,1110.0,1977.0,1110.0,1982.0,1110.0,1987.0,1110.0,1992.0,1110.0,1997.0,1110.0,2002.0,1110.0,2007.0,1110.0,2012.0,1110.0,2017.0,1110.0
8,Austria,Long-term average annual precipitation in volu...,1962.0,93.11,1967.0,93.11,1972.0,93.11,1977.0,93.11,1982.0,93.11,1987.0,93.11,1992.0,93.11,1997.0,93.11,2002.0,93.11,2007.0,93.11,2012.0,93.11,2017.0,93.11
9,Austria,Surface water produced internally (10^9 m3/year),1962.0,55.0,1967.0,55.0,1972.0,55.0,1977.0,55.0,1982.0,55.0,1987.0,55.0,1992.0,55.0,1997.0,55.0,2002.0,55.0,2007.0,55.0,2012.0,55.0,2017.0,55.0

In [15]:
print('dataf1 nb rows and columns')
print(dataf1.shape[0],dataf1.shape[1])
print('datac1 nb rows and columns')
print(datac1.shape[0],datac1.shape[1])

dataf1 nb rows and columns
7140 4
datac1 nb rows and columns
935 26

In [16]:
dataf1.iloc[7070] # C'est le dernier champ intéressant, après ce sont les données du fichier

country             United States of America
attribute    Environmental Flow Requirements
year                                    2017
value                                   1491
Name: 7070, dtype: object

In [17]:
dataf2 = dataf1[dataf1.index < 7071]
dataf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7071 entries, 0 to 7070
Data columns (total 4 columns):
country      7071 non-null object
attribute    7071 non-null object
year         7071 non-null float64
value        7071 non-null float64
dtypes: float64(2), object(2)
memory usage: 276.2+ KB

In [37]:
dataf2.get_values

<bound method NDFrame.get_values of                        country                        attribute    year  \
0                      Austria                 Total population  1962.0
1                      Austria                 Total population  1967.0
2                      Austria                 Total population  1972.0
3                      Austria                 Total population  1977.0
4                      Austria                 Total population  1982.0
...                        ...                              ...     ...
7066  United States of America  Environmental Flow Requirements  1997.0
7067  United States of America  Environmental Flow Requirements  2002.0
7068  United States of America  Environmental Flow Requirements  2007.0
7069  United States of America  Environmental Flow Requirements  2012.0
7070  United States of America  Environmental Flow Requirements  2017.0

       value
0     7157.0
1     7397.0
2     7581.0
3     7637.0
4     7602.0
...      ...
7066  1491.0
7067  1491.0
7068  1491.0
7069  1491.0
7070  1491.0

[7071 rows x 4 columns]>

In [18]:
datac1.iloc[866]  # a partir de l'index 867 ce ne sont plus que des infos inutiles sur le fichier lui-même

country                            United States of America
attribute    Environmental Flow Requirements (10^9 m3/year)
year1                                                  1962
1958-1962                                            1491.0
year2                                                  1967
1963-1967                                            1491.0
year3                                                  1972
1968-1972                                            1491.0
year4                                                  1977
1973-1977                                            1491.0
year5                                                  1982
1978-1982                                            1491.0
year6                                                  1987
1983-1987                                            1491.0
year7                                                  1992
1988-1992                                            1491.0
year8                                                  1997
1993-1997                                            1491.0
year9                                                  2002
1998-2002                                            1491.0
year10                                                 2007
2003-2007                                            1491.0
year11                                                 2012
2008-2012                                            1491.0
year12                                                 2017
2013-2017                                            1491.0
Name: 866, dtype: object

In [19]:
datac2 = datac1[datac1.index < 867]
datac2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 867 entries, 0 to 866
Data columns (total 26 columns):
country      837 non-null object
attribute    837 non-null object
year1        462 non-null float64
1958-1962    492 non-null object
year2        462 non-null float64
1963-1967    492 non-null object
year3        503 non-null float64
1968-1972    533 non-null object
year4        505 non-null float64
1973-1977    535 non-null object
year5        535 non-null float64
1978-1982    565 non-null object
year6        535 non-null float64
1983-1987    565 non-null object
year7        653 non-null float64
1988-1992    683 non-null object
year8        649 non-null float64
1993-1997    679 non-null object
year9        699 non-null float64
1998-2002    729 non-null object
year10       682 non-null float64
2003-2007    712 non-null object
year11       718 non-null float64
2008-2012    748 non-null object
year12       668 non-null float64
2013-2017    698 non-null object
dtypes: float64(12), object(14)
memory usage: 182.9+ KB

In [35]:
datac2.loc[datac2['attribute'] == 'Total population (1000 inhab)']

,country,attribute,year1,1958-1962,year2,1963-1967,year3,1968-1972,year4,1973-1977,year5,1978-1982,year6,1983-1987,year7,1988-1992,year8,1993-1997,year9,1998-2002,year10,2003-2007,year11,2008-2012,year12,2013-2017
0,Austria,Total population (1000 inhab),1962.0,7157.0,1967.0,7397.0,1972.0,7581.0,1977.0,7637.0,1982.0,7602.0,1987.0,7639.0,1992.0,7831.0,1997.0,8033.0,2002.0,8134.0,2007.0,8312.0,2012.0,8518.0,2017.0,8735.0
28,Belgium,Total population (1000 inhab),1962.0,9193.0,1967.0,9476.0,1972.0,9651.0,1977.0,9752.0,1982.0,9821.0,1987.0,9868.0,1992.0,10016.0,1997.0,10193.0,2002.0,10365.0,2007.0,10698.0,2012.0,11084.0,2017.0,11429.0
56,Bosnia and Herzegovina,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,4239.0,1997.0,3752.0,2002.0,3776.0,2007.0,3774.0,2012.0,3648.0,2017.0,3507.0
84,Bulgaria,Total population (1000 inhab),1962.0,8022.0,1967.0,8343.0,1972.0,8609.0,1977.0,8802.0,1982.0,8931.0,1987.0,8960.0,1992.0,8676.0,1997.0,8212.0,2002.0,7866.0,2007.0,7567.0,2012.0,7310.0,2017.0,7085.0
112,Cambodia,Total population (1000 inhab),1962.0,6029.0,1967.0,6685.0,1972.0,7300.0,1977.0,7194.0,1982.0,6918.0,1987.0,8196.0,1992.0,9622.0,1997.0,11296.0,2002.0,12635.0,2007.0,13677.0,2012.0,14777.0,2017.0,16005.0
140,Croatia,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,4733.0,1997.0,4532.0,2002.0,4396.0,2007.0,4362.0,2012.0,4297.0,2017.0,4189.0
168,Denmark,Total population (1000 inhab),1962.0,4649.0,1967.0,4832.0,1972.0,4991.0,1977.0,5097.0,1982.0,5123.0,1987.0,41047.0,1992.0,5172.0,1997.0,5278.0,2002.0,5373.0,2007.0,5470.0,2012.0,5611.0,2017.0,5734.0
196,Finland,Total population (1000 inhab),1962.0,4499.0,1967.0,4589.0,1972.0,4651.0,1977.0,4747.0,1982.0,4835.0,1987.0,4946.0,1992.0,5045.0,1997.0,5152.0,2002.0,5213.0,2007.0,5298.0,2012.0,5413.0,2017.0,5523.0
224,France,Total population (1000 inhab),1962.0,47121.0,1967.0,49792.0,1972.0,51740.0,1977.0,53516.0,1982.0,54548.0,1987.0,56025.0,1992.0,57497.0,1997.0,58763.0,2002.0,60225.0,2007.0,61961.0,2012.0,63640.0,2017.0,64980.0
252,Germany,Total population (1000 inhab),1962.0,74489.0,1967.0,77353.0,1972.0,78902.0,1977.0,78702.0,1982.0,77945.0,1987.0,78054.0,1992.0,80046.0,1997.0,81500.0,2002.0,81612.0,2007.0,81344.0,2012.0,81066.0,2017.0,82114.0
280,Greece,Total population (1000 inhab),1962.0,8348.0,1967.0,8525.0,1972.0,8770.0,1977.0,9255.0,1982.0,9804.0,1987.0,10068.0,1992.0,10451.0,1997.0,10961.0,2002.0,11217.0,2007.0,11381.0,2012.0,11378.0,2017.0,11160.0
308,Iceland,Total population (1000 inhab),1962.0,182.7,1967.0,197.4,1972.0,209.9,1977.0,222.3,1982.0,233.3,1987.0,247.1,1992.0,260.2,1997.0,272.7,2002.0,285.3,2007.0,305.2,2012.0,325.5,2017.0,335.0
336,Ireland,Total population (1000 inhab),1962.0,2825.0,1967.0,2885.0,1972.0,3030.0,1977.0,3291.0,1982.0,3505.0,1987.0,3572.0,1992.0,3589.0,1997.0,3712.0,2002.0,3976.0,2007.0,4398.0,2012.0,4678.0,2017.0,4762.0
364,Italy,Total population (1000 inhab),1962.0,50487.0,1967.0,52488.0,1972.0,54321.0,1977.0,55845.0,1982.0,56717.0,1987.0,57089.0,1992.0,57189.0,1997.0,57185.0,2002.0,57802.0,2007.0,59313.0,2012.0,59734.0,2017.0,59360.0
392,Liechtenstein,Total population (1000 inhab),1962.0,17.29,1967.0,19.69,1972.0,22.15,1977.0,24.44,1982.0,26.52,1987.0,27.8,1992.0,29.5,1997.0,31.84,2002.0,34.02,2007.0,35.32,2012.0,36.54,2017.0,37.92
420,Lithuania,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,3688.0,1997.0,3580.0,2002.0,3445.0,2007.0,3260.0,2012.0,3037.0,2017.0,2890.0
448,Luxembourg,Total population (1000 inhab),1962.0,390.3,1967.0,402.4,1972.0,409.8,1977.0,414.1,1982.0,417.0,1987.0,419.0,1992.0,425.3,1997.0,432.8,2002.0,443.7,2007.0,474.7,2012.0,532.4,2017.0,583.5
476,Monaco,Total population (1000 inhab),1962.0,23.04,1967.0,23.29,1972.0,24.05,1977.0,25.81,1982.0,27.62,1987.0,29.17,1992.0,29.86,1997.0,31.25,2002.0,32.63,2007.0,35.11,2012.0,37.78,2017.0,38.7
504,Montenegro,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.0,619.5,2012.0,626.4,2017.0,629.0
532,Netherlands,Total population (1000 inhab),1962.0,11767.0,1967.0,12557.0,1972.0,13292.0,1977.0,13893.0,1982.0,14295.0,1987.0,14683.0,1992.0,15166.0,1997.0,15655.0,2002.0,16110.0,2007.0,16507.0,2012.0,16789.0,2017.0,17036.0
560,North Macedonia,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,1989.0,1997.0,2000.0,2002.0,2049.0,2007.0,2065.0,2012.0,2074.0,2017.0,2083.0
588,Norway,Total population (1000 inhab),1962.0,3639.0,1967.0,3785.0,1972.0,3934.0,1977.0,4044.0,1982.0,4112.0,1987.0,4187.0,1992.0,4293.0,1997.0,4420.0,2002.0,4546.0,2007.0,4720.0,2012.0,5012.0,2017.0,5305.0
616,Poland,Total population (1000 inhab),1962.0,30386.0,1967.0,31898.0,1972.0,33143.0,1977.0,34567.0,1982.0,36217.0,1987.0,37539.0,1992.0,38192.0,1997.0,38539.0,2002.0,38484.0,2007.0,38330.0,2012.0,38317.0,2017.0,38171.0
644,Portugal,Total population (1000 inhab),1962.0,8939.0,1967.0,8803.0,1972.0,8840.0,1977.0,9484.0,1982.0,9926.0,1987.0,9971.0,1992.0,10010.0,1997.0,10233.0,2002.0,10444.0,2007.0,10630.0,2012.0,10582.0,2017.0,10330.0
672,Romania,Total population (1000 inhab),1962.0,18924.0,1967.0,19811.0,1972.0,21012.0,1977.0,22084.0,1982.0,22842.0,1987.0,23312.0,1992.0,23373.0,1997.0,22633.0,2002.0,21855.0,2007.0,21036.0,2012.0,20171.0,2017.0,19679.0
700,Serbia,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2007.0,9135.0,2012.0,8957.0,2017.0,8791.0
728,Spain,Total population (1000 inhab),1962.0,31165.0,1967.0,32926.0,1972.0,34761.0,1977.0,36764.0,1982.0,38310.0,1987.0,39057.0,1992.0,39515.0,1997.0,40132.0,2002.0,41986.0,2007.0,45394.0,2012.0,46857.0,2017.0,46354.0
756,Sweden,Total population (1000 inhab),1962.0,7580.0,1967.0,7876.0,1972.0,8127.0,1977.0,8251.0,1982.0,8329.0,1987.0,8421.0,1992.0,8687.0,1997.0,8869.0,2002.0,8921.0,2007.0,9163.0,2012.0,9541.0,2017.0,9911.0
784,Switzerland,Total population (1000 inhab),1962.0,5503.0,1967.0,5992.0,1972.0,6270.0,1977.0,6341.0,1982.0,6342.0,1987.0,6532.0,1992.0,6815.0,1997.0,7092.0,2002.0,7244.0,2007.0,7560.0,2012.0,8032.0,2017.0,8476.0
812,United Kingdom,Total population (1000 inhab),1962.0,53171.0,1967.0,54929.0,1972.0,55953.0,1977.0,56262.0,1982.0,56296.0,1987.0,56709.0,1992.0,57495.0,1997.0,58347.0,2002.0,59349.0,2007.0,61415.0,2012.0,64250.0,2017.0,66182.0
840,United States of America,Total population (1000 inhab),1962.0,192398.0,1967.0,203982.0,1972.0,213352.0,1977.0,223324.0,1982.0,234133.0,1987.0,245403.0,1992.0,257454.0,1997.0,272137.0,2002.0,287507.0,2007.0,300595.0,2012.0,313335.0,2017.0,324459.0

In [25]:
datac2["country"].isna().sum()

30

In [24]:
datac2.isnull().sum()

country       30
attribute     30
year1        405
1958-1962    375
year2        405
1963-1967    375
year3        364
1968-1972    334
year4        362
1973-1977    332
year5        332
1978-1982    302
year6        332
1983-1987    302
year7        214
1988-1992    184
year8        218
1993-1997    188
year9        168
1998-2002    138
year10       185
2003-2007    155
year11       149
2008-2012    119
year12       199
2013-2017    169
dtype: int64

In [27]:
test = datac2[datac2.isna().any(axis=1)]
test

,country,attribute,year1,1958-1962,year2,1963-1967,year3,1968-1972,year4,1973-1977,year5,1978-1982,year6,1983-1987,year7,1988-1992,year8,1993-1997,year9,1998-2002,year10,2003-2007,year11,2008-2012,year12,2013-2017
6,Austria,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,0.7935,NaN,NaN,2000.0,0.8364,NaN,NaN,2012.0,0.8839,2014.0,0.885
18,Austria,Total exploitable water resources (10^9 m3/year),1962.0,93.0,1967.0,93.0,1972.0,93.0,1977.0,93.0,1982.0,93.0,1987.0,93.0,1992.0,93.0,1997.0,93.0,2002.0,93.0,2007.0,93.0,2012.0,93.0,NaN,NaN
21,Austria,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,0.09,1985.0,0.2,1990.0,0.1,1997.0,0.1,2002.0,0.1,NaN,NaN,2010.0,0.0771,NaN,NaN
22,Austria,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,2.694,1985.0,2.671,1990.0,3.022,1997.0,2.857,1999.0,2.899,NaN,NaN,2008.0,2.695,NaN,NaN
23,Austria,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,0.5582,1985.0,0.7088,1990.0,0.6851,1997.0,0.6871,1999.0,0.6687,NaN,NaN,2010.0,0.72,NaN,NaN
24,Austria,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,3.342,1985.0,3.58,1990.0,3.807,1997.0,3.644,2002.0,3.668,NaN,NaN,2010.0,3.492,NaN,NaN
25,Austria,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,439.6,1985.0,468.6,1990.0,486.1,1997.0,453.6,2002.0,450.9,NaN,NaN,2010.0,410.0,NaN,NaN
27,NaN,NaN,NaN,1958-1962,NaN,1963-1967,NaN,1968-1972,NaN,1973-1977,NaN,1978-1982,NaN,1983-1987,NaN,1988-1992,NaN,1993-1997,NaN,1998-2002,NaN,2003-2007,NaN,2008-2012,NaN,2013-2017
31,Belgium,Population density (inhab/km2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002.0,339.5,2007.0,350.4,2012.0,363.1,2017.0,374.4
34,Belgium,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,0.8064,NaN,NaN,2000.0,0.8738,NaN,NaN,2012.0,0.8886,2014.0,0.8903
46,Belgium,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Belgium,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,0.3612,NaN,NaN,NaN,NaN,1997.0,0.016,2002.0,0.0382,2007.0,0.0369,2009.0,0.0402,NaN,NaN
50,Belgium,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,7.676,NaN,NaN,NaN,NaN,1997.0,6.8,2002.0,5.964,2007.0,5.45,2009.0,5.256,NaN,NaN
51,Belgium,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,0.9933,NaN,NaN,NaN,NaN,1997.0,0.874,2002.0,0.7358,2007.0,0.7304,2009.0,0.7093,NaN,NaN
52,Belgium,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,9.03,NaN,NaN,NaN,NaN,1997.0,7.69,2002.0,6.738,2007.0,6.217,2009.0,6.005,NaN,NaN
53,Belgium,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,919.5,NaN,NaN,NaN,NaN,1997.0,754.4,2002.0,650.1,2007.0,581.1,2009.0,541.8,NaN,NaN
55,NaN,NaN,NaN,1958-1962,NaN,1963-1967,NaN,1968-1972,NaN,1973-1977,NaN,1978-1982,NaN,1983-1987,NaN,1988-1992,NaN,1993-1997,NaN,1998-2002,NaN,2003-2007,NaN,2008-2012,NaN,2013-2017
56,Bosnia and Herzegovina,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,4239.0,1997.0,3752.0,2002.0,3776.0,2007.0,3774.0,2012.0,3648.0,2017.0,3507.0
57,Bosnia and Herzegovina,Rural population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,2604.0,1997.0,2360.0,2002.0,2246.0,2007.0,2259.0,2012.0,2138.0,2017.0,1979.0
58,Bosnia and Herzegovina,Urban population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,1635.0,1997.0,1392.0,2002.0,1530.0,2007.0,1515.0,2012.0,1510.0,2017.0,1528.0
59,Bosnia and Herzegovina,Population density (inhab/km2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,82.78,1997.0,73.27,2002.0,73.74,2007.0,73.7,2012.0,71.24,2017.0,68.48
60,Bosnia and Herzegovina,Gross Domestic Product (GDP) (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997.0,3.671816504E9,2002.0,6.651226179E9,2007.0,1.5776422673E10,2012.0,1.7207367626E10,2015.0,1.5995392118E10
61,Bosnia and Herzegovina,GDP per capita (current US$/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1997.0,978.6,2002.0,1761.0,2007.0,4180.0,2012.0,4717.0,2015.0,4561.0
62,Bosnia and Herzegovina,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,0.7257,2014.0,0.7325
63,Bosnia and Herzegovina,Long-term average annual precipitation in dept...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,1028.0,1997.0,1028.0,2002.0,1028.0,2007.0,1028.0,2012.0,1028.0,2017.0,1028.0
64,Bosnia and Herzegovina,Long-term average annual precipitation in volu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,52.64,1997.0,52.64,2002.0,52.64,2007.0,52.64,2012.0,52.64,2017.0,52.64
65,Bosnia and Herzegovina,Surface water produced internally (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,34.34,1997.0,34.34,2002.0,34.34,2007.0,34.34,2012.0,34.34,2017.0,34.34
66,Bosnia and Herzegovina,Groundwater produced internally (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,11.57,1997.0,11.57,2002.0,11.57,2007.0,11.57,2012.0,11.57,2017.0,11.57
67,Bosnia and Herzegovina,Overlap between surface water and groundwater ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,10.41,1997.0,10.41,2002.0,10.41,2007.0,10.41,2012.0,10.41,2017.0,10.41
68,Bosnia and Herzegovina,Total internal renewable water resources (IRWR...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,35.5,1997.0,35.5,2002.0,35.5,2007.0,35.5,2012.0,35.5,2017.0,35.5
69,Bosnia and Herzegovina,Total internal renewable water resources per c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,8375.0,1997.0,9462.0,2002.0,9401.0,2007.0,9406.0,2012.0,9731.0,2017.0,10123.0
70,Bosnia and Herzegovina,Water resources: total external renewable (10^...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,2.0,1997.0,2.0,2002.0,2.0,2007.0,2.0,2012.0,2.0,2017.0,2.0
71,Bosnia and Herzegovina,Total renewable surface water (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,36.34,1997.0,36.34,2002.0,36.34,2007.0,36.34,2012.0,36.34,2017.0,36.34
72,Bosnia and Herzegovina,Total renewable groundwater (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,11.57,1997.0,11.57,2002.0,11.57,2007.0,11.57,2012.0,11.57,2017.0,11.57
73,Bosnia and Herzegovina,Total renewable water resources per capita (m3...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,8846.0,1997.0,9995.0,2002.0,9931.0,2007.0,9936.0,2012.0,10280.0,2017.0,10693.0
74,Bosnia and Herzegovina,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Bosnia and Herzegovina,Total dam capacity (km3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995.0,2.912,2000.0,2.912,2005.0,2.912,2010.0,2.912,2015.0,2.912
76,Bosnia and Herzegovina,Dam capacity per capita (m3/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995.0,776.1,2000.0,771.2,2005.0,771.6,2010.0,798.2,2015.0,830.3
77,Bosnia and Herzegovina,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Bosnia and Herzegovina,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.0,0.0488,NaN,NaN
79,Bosnia and Herzegovina,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002.0,0.3218,NaN,NaN,NaN,NaN,2016.0,0.3262
80,Bosnia and Herzegovina,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,0.3341,2012.0,0.329,2013.0,0.3279
81,Bosnia and Herzegovina,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.0,88.53,2012.0,90.19,2013.0,93.5
82,Bosnia and Herzegovina,Environmental Flow Requirements (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,22.44,1997.0,22.44,2002.0,22.44,2007.0,22.44,2012.0,22.44,2017.0,22.44
83,NaN,NaN,NaN,1958-1962,NaN,1963-1967,NaN,1968-1972,NaN,1973-1977,NaN,1978-1982,NaN,1983-1987,NaN,1988-1992,NaN,1993-1997,NaN,1998-2002,NaN,2003-2007,NaN,2008-2012,NaN,2013-2017
88,Bulgaria,Gross Domestic Product (GDP) (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1982.0,1.9804095112E10,1987.0,2.8429027976E10,1992.0,1.0350515464E10,1997.0,1.1195630537E10,2002.0,1.6360346654E10,2007.0,4.476573338E10,2012.0,5.3576670828E10,2015.0,4.895295908E10
89,Bulgaria,GDP per capita (current US$/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1982.0,2217.0,1987.0,3173.0,1992.0,1193.0,1997.0,1363.0,2002.0,2080.0,2007.0,5916.0,2012.0,7329.0,2015.0,6909.0
90,Bulgaria,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,0.6947,NaN,NaN,2000.0,0.7132,NaN,NaN,2012.0,0.7781,2014.0,0.7817
102,Bulgaria,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Bulgaria,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,2.225,NaN,NaN,2002.0,0.743,2006.0,0.8759,2012.0,0.9494,2015.0,0.8288
106,Bulgaria,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,4.852,NaN,NaN,2002.0,4.776,NaN,NaN,2012.0,3.817,2015.0,3.901
107,Bulgaria,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1988.0,0.417,NaN,NaN,2002.0,1.07,NaN,NaN,2012.0,0.9483,2015.0,0.8996
108,Bulgaria,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,14.18,1985.0,14.09,1990.0,7.494,NaN,NaN,2002.0,6.589,2007.0,6.202,2012.0,5.715,2015.0,5.629
109,Bulgaria,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980.0,1588.0,1985.0,1573.0,1990.0,863.8,NaN,NaN,2002.0,837.7,2007.0,819.6,2012.0,781.8,2015.0,794.5
111,NaN,NaN,NaN,1958-1962,NaN,1963-1967,NaN,1968-1972,NaN,1973-1977,NaN,1978-1982,NaN,1983-1987,NaN,1988-1992,NaN,1993-1997,NaN,1998-2002,NaN,2003-2007,NaN,2008-2012,NaN,2013-2017
116,Cambodia,Gross Domestic Product (GDP) (current US$),1962.0,6.60000009E8,1967.0,9.62857134E8,1972.0,5.0554946E8,1974.0,5.88443894E8,NaN,NaN,1987.0,8.24166656E8,1992.0,1.980183168E9,1997.0,3.443413389E9,2002.0,4.284028138E9,2007.0,8.639235842E9,2012.0,1.403838345E10,2015.0,1.8049954289E10
117,Cambodia,GDP per capita (current US$/inhab),1962.0,109.5,1967.0,144.0,1972.0,69.25,1974.0,81.8,NaN,NaN,1987.0,100.6,1992.0,205.8,1997.0,304.8,2002.0,339.1,2007.0,631.7,2012.0,950.0,2015.0,1128.0
118,Cambodia,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,0.3642,NaN,NaN,2000.0,0.4186,NaN,NaN,2012.0,0.546,2014.0,0.5548
130,Cambodia,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Cambodia,Total dam capacity (km3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Cambodia,Dam capacity per capita (m3/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Cambodia,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,2.053,NaN,NaN,NaN,NaN
134,Cambodia,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1987.0,0.0052,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,0.033,NaN,NaN,NaN,NaN
135,Cambodia,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1987.0,0.026,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,0.098,NaN,NaN,NaN,NaN
136,Cambodia,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,2.184,NaN,NaN,NaN,NaN
137,Cambodia,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2006.0,159.7,NaN,NaN,NaN,NaN
139,NaN,NaN,NaN,1958-1962,NaN,1963-1967,NaN,1968-1972,NaN,1973-1977,NaN,1978-1982,NaN,1983-1987,NaN,1988-1992,NaN,1993-1997,NaN,1998-2002,NaN,2003-2007,NaN,2008-2012,NaN,2013-2017
140,Croatia,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,4733.0,1997.0,4532.0,2002.0,4396.0,2007.0,4362.0,2012.0,4297.0,2017.0,4189.0
141,Croatia,Rural population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,2125.0,1997.0,1993.0,2002.0,1923.0,2007.0,1879.0,2012.0,1796.0,2017.0,1670.0
142,Croatia,Urban population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,2608.0,1997.0,2539.0,2002.0,2473.0,2007.0,2483.0,2012.0,2501.0,2017.0,2519.0
143,Croatia,Population density (inhab/km2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,83.71,1997.0,80.06,2002.0,77.75,2007.0,77.08,2012.0,75.93,2017.0,74.02
144,Croatia,Gross Domestic Product (GDP) (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,1.0279479681E10,1997.0,2.3822087053E10,2002.0,2.6878499206E10,2007.0,6.0093155533E10,2012.0,5.6485301967E10,2015.0,4.8732003674E10
145,Croatia,GDP per capita (current US$/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,2172.0,1997.0,5256.0,2002.0,6114.0,2007.0,13777.0,2012.0,13145.0,2015.0,11633.0
146,Croatia,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000.0,0.7491,NaN,NaN,2012.0,0.8166,2014.0,0.8175
147,Croatia,Long-term average annual precipitation in dept...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,1113.0,1997.0,1113.0,2002.0,1113.0,2007.0,1113.0,2012.0,1113.0,2017.0,1113.0
148,Croatia,Long-term average annual precipitation in volu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,62.93,1997.0,63.01,2002.0,62.93,2007.0,62.98,2012.0,62.98,2017.0,62.98
149,Croatia,Surface water produced internally (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,27.2,1997.0,27.2,2002.0,27.2,2007.0,27.2,2012.0,27.2,2017.0,27.2
150,Croatia,Groundwater produced internally (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,11.0,1997.0,11.0,2002.0,11.0,2007.0,11.0,2012.0,11.0,2017.0,11.0
151,Croatia,Overlap between surface water and groundwater ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,0.5,1997.0,0.5,2002.0,0.5,2007.0,0.5,2012.0,0.5,2017.0,0.5
152,Croatia,Total internal renewable water resources (IRWR...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,37.7,1997.0,37.7,2002.0,37.7,2007.0,37.7,2012.0,37.7,2017.0,37.7
153,Croatia,Total internal renewable water resources per c...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,7965.0,1997.0,8319.0,2002.0,8576.0,2007.0,8643.0,2012.0,8774.0,2017.0,9000.0
154,Croatia,Water resources: total external renewable (10^...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,67.8,1997.0,67.8,2002.0,67.8,2007.0,67.8,2012.0,67.8,2017.0,67.8
155,Croatia,Total renewable surface water (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,95.0,1997.0,95.0,2002.0,95.0,2007.0,95.0,2012.0,95.0,2017.0,95.0
156,Croatia,Total renewable groundwater (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,11.0,1997.0,11.0,2002.0,11.0,2007.0,11.0,2012.0,11.0,2017.0,11.0
157,Croatia,Total renewable water resources per capita (m3...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,22290.0,1997.0,23279.0,2002.0,23999.0,2007.0,24186.0,2012.0,24552.0,2017.0,25185.0
158,Croatia,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Croatia,Total dam capacity (km3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995.0,0.962,2000.0,0.962,2005.0,0.962,2010.0,0.962,2015.0,0.962
160,Croatia,Dam capacity per capita (m3/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1995.0,212.3,2000.0,218.8,2005.0,220.5,2010.0,223.9,2015.0,229.6
161,Croatia,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002.0,0.0059,2007.0,0.0032,2010.0,0.0086,NaN,NaN
162,Croatia,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002.0,0.0628,NaN,NaN,2012.0,0.1477,2013.0,0.126
163,Croatia,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,0.513,2016.0,0.466
164,Croatia,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,0.6693,2013.0,0.6338
165,Croatia,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.0,155.8,2013.0,151.3
166,Croatia,Environmental Flow Requirements (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1992.0,60.52,1997.0,60.52,2002.0,60.52,2007.0,60.52,2012.0,60.52,2017.0,60.52
167,NaN,NaN,NaN,1958-1962,NaN,1963-1967,NaN,1968-1972,NaN,1973-1977,NaN,1978-1982,NaN,1983-1987,NaN,1988-1992,NaN,1993-1997,NaN,1998-2002,NaN,2003-2007,NaN,2008-2012,NaN,2013-2017
174,Denmark,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,0.7987,NaN,NaN,2000.0,0.8618,NaN,NaN,2012.0,0.9211,2014.0,0.9233
186,Denmark,Total exploitable water resources (10^9 m3/year),1962.0,2.0,1967.0,2.0,1972.0,2.0,1977.0,2.0,1982.0,2.0,1987.0,2.0,1992.0,2.0,1997.0,2.0,2002.0,2.0,2007.0,2.0,2012.0,2.0,NaN,NaN
187,Denmark,Total dam capacity (km3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,Denmark,Dam capacity per capita (m3/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,Denmark,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,1970.0,0.18,1975.0,0.46,1980.0,0.46,1985.0,0.7,1990.0,0.465,1997.0,0.369,2002.0,0.1652,2007.0,0.1175,2012.0,0.164,NaN,NaN
190,Denmark,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,1970.0,0.08,1975.0,0.045,1980.0,0.045,1985.0,0.33,1990.0,0.225,NaN,NaN,2002.0,0.0619,2007.0,0.0423,2012.0,0.128,NaN,NaN
191,Denmark,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,1970.0,0.46,1975.0,0.7,1980.0,0.7,1985.0,0.6746,1990.0,0.571,NaN,NaN,2002.0,0.4408,2007.0,0.411,2012.0,0.36,NaN,NaN
192,Denmark,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,1970.0,0.72,1975.0,1.205,1980.0,1.205,1985.0,1.705,1990.0,1.261,1997.0,0.9325,2002.0,0.6679,2007.0,0.5708,2012.0,0.652,NaN,NaN
193,Denmark,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,1970.0,144.3,1975.0,236.4,1980.0,235.2,1985.0,41.54,1990.0,243.8,1997.0,176.7,2002.0,124.3,2007.0,104.4,2012.0,116.2,NaN,NaN
195,NaN,NaN,NaN,1958-1962,NaN,1963-1967,NaN,1968-1972,NaN,1973-1977,NaN,1978-1982,NaN,1983-1987,NaN,1988-1992,NaN,1993-1997,NaN,1998-2002,NaN,2003-2007,NaN,2008-2012,NaN,2013-2017
202,Finland,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,0.7834,NaN,NaN,2000.0,0.8568,NaN,NaN,2012.0,0.8817,2014.0,0.8827
214,Finland,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,Finland,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,0.02,1995.0,0.05,2002.0,0.05,2005.0,0.05,NaN,NaN,NaN,NaN
218,Finland,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1990.0,1.903,1995.0,2.124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
dataf2.head()

   country         attribute    year   value
0  Austria  Total population  1962.0  7157.0
1  Austria  Total population  1967.0  7397.0
2  Austria  Total population  1972.0  7581.0
3  Austria  Total population  1977.0  7637.0
4  Austria  Total population  1982.0  7602.0

26/08 - Point VH-PM : 
-  TERMINER DE NETTOYER DATAC2
- Supprimer les colonnes "year"
- REMPLACER LES NaN par des valeurs nulles (0)

#### dataf2 is already included in datac2

### Il faut maintenant concaténer les deux fichiers datac2 + scrapping de Zhifeng

## 3. Data Features - first on one country or region, then extension
- Datas from 1988 to 2019, year by year - idealy week per week !
- As many datafiles as Country
- Each file is a feature / date datafile
- Global water at disposal for population (by Country)
- Detail water at disposal (eventualy) : rivers (instant stream), dams (volume), underground (volume), etc.
- Population count (by country)
- GDP (gross domestic product or PIB or HDI human development index)
- Usage related datas :
- - average water consumption per inhabitant (by country)
- - average energy consumption per inhabitant (by country) or water consumption for energy production
- - eventualy, industrialisation rate or water use for industrie (by country)
- - eventualy, agricultural rate or water use for agriculture (by country)

## 4. Preprocessing
- data formating : for exemple 1 dataset for 1 country with the year as column and features as rows
- data cleaning
- FAO EDA simple analysis (Exploratory Data Analysis) :
- - https://www.kaggle.com/marcinjadwizyc/fao-simple-eda
- - https://www.kaggle.com/hungnd11/exploring-the-fao-dataset
- Hydrofunctions
- - https://github.com/mroberge/hydrofunctions

## 5. Modeling
- Statistics using Machine Learning
- Prediction with time series or others

## 6. Restitution
- Précontainérisation : fichier de variables de configuration multi-utilisateurs
- - Requirement.txt
- - launching file (an url file)
- Map and curves restitution on actual and predictive water stress by country
- Interactive web restitution