# WATER SCARCITY by country (rareté de l'eau)
## with prediction of future situation
## Target (objectif de prediction) : 
##    accessible drinking water per inhabitant

## 1. Scrapping

- Starting Scrapping
- Managing connexion shutdown, i.e. restarting loading at the same point
- Random time scrapping in order to stay hidden
- Manage 'my user agent' in order to scrap in 'browser mode' and not 'robot mode'
- Sites à scrapper :
- ---Consommation moyenne d'eau par habitant et par pays
- - https://www.cieau.com/le-metier-de-leau/ressource-en-eau-eau-potable-eaux-usees/la-consommation-deau-domestique-est-elle-la-meme-a-travers-le-monde/
- - https://fr.wikipedia.org/wiki/Consommation_d%27eau_domestique_par_pays
- --- Consommation d'eau virtuelle
- - https://www.consoglobe.com/eau-virtuelle-conflit-3120-cg
- - https://www.consoglobe.com/eau-virtuelle-consommation-cachee-cg
The idea with scrapping  is :
- each scrapping is specific to one web site (html code for balises)
- if web site is javascript encoded, you have to use a javascript interface to a 'false internet explorer (google or other)' , then send the 'html transformation' to BeautifulSoup

## 2. Ressources
FAO and UNO sites are web accessing datas, directly or with 'wget' command
- FAO http://www.fao.org/nr/water/aquastat/data/query/index.html
- UNO https://population.un.org/wpp/Download/Standard/Population/
- Population Mondiale par Pays ou Région (UNO)
- Total Population per Country (FAO Aquastat)
- Water disponibility per Country or Region (FAO Aquastat)
- Water consumption per inhabitant, by Country or Region (FAO + divers documents moyennés)
- [GDP per capita] = [Gross Domestic Product (GDP)]/[Total population]/1000  (FAO Aquastat)

In [2]:
import pandas as pd
import numpy as np

In [20]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 8000)
#pd.set_option('display.width', 1000)

In [3]:
dataf = pd.read_csv("../data/FAO_aquastat_flat_1958_2017.csv")
datac = pd.read_csv("../data/FAO_aquastat_tables_1958_2017.csv")

In [4]:
dataf.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
Austria,11.0,Total population,4104.0,1962.0,7157.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1967.0,7397.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1972.0,7581.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1977.0,7637.0,E,NaN,NaN
Austria,11.0,Total population,4104.0,1982.0,7602.0,E,NaN,NaN

In [13]:
dataf1 = dataf.copy()
dataf1 = dataf1.reset_index()
dataf1 = dataf1.rename(columns = {'index':'country', 
                                  'Area Id':'attribute',
                                  'Variable Id' : 'year',
                                  'Year' : 'value'})
dataf1.drop(columns=['Area','Variable Name','Value','Symbol','Md'], inplace=True)
dataf1.head()

   country         attribute    year   value
0  Austria  Total population  1962.0  7157.0
1  Austria  Total population  1967.0  7397.0
2  Austria  Total population  1972.0  7581.0
3  Austria  Total population  1977.0  7637.0
4  Austria  Total population  1982.0  7602.0

In [14]:
print(dataf1.info())
print(dataf1.iloc[7070])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7140 entries, 0 to 7139
Data columns (total 4 columns):
country      7139 non-null object
attribute    7071 non-null object
year         7071 non-null float64
value        7071 non-null float64
dtypes: float64(2), object(2)
memory usage: 223.2+ KB
None
country             United States of America
attribute    Environmental Flow Requirements
year                                    2017
value                                   1491
Name: 7070, dtype: object

In [21]:
datac.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1958-1962,Unnamed: 4,Unnamed: 5,Unnamed: 6,1963-1967,Unnamed: 8,Unnamed: 9,Unnamed: 10,1968-1972,Unnamed: 12,Unnamed: 13,Unnamed: 14,1973-1977,Unnamed: 16,Unnamed: 17,Unnamed: 18,1978-1982,Unnamed: 20,Unnamed: 21,Unnamed: 22,1983-1987,Unnamed: 24,Unnamed: 25,Unnamed: 26,1988-1992,Unnamed: 28,Unnamed: 29,Unnamed: 30,1993-1997,Unnamed: 32,Unnamed: 33,Unnamed: 34,1998-2002,Unnamed: 36,Unnamed: 37,Unnamed: 38,2003-2007,Unnamed: 40,Unnamed: 41,Unnamed: 42,2008-2012,Unnamed: 44,Unnamed: 45,Unnamed: 46,2013-2017,Unnamed: 48,Unnamed: 49
0,Austria,Total population (1000 inhab),1962.0,7157.0,E,NaN,1967.0,7397.0,E,NaN,1972.0,7581.0,E,NaN,1977.0,7637.0,E,NaN,1982.0,7602.0,E,NaN,1987.0,7639.0,E,NaN,1992.0,7831.0,E,NaN,1997.0,8033.0,E,NaN,2002.0,8134.0,E,NaN,2007.0,8312.0,E,NaN,2012.0,8518.0,E,NaN,2017.0,8735.0,E,NaN
1,Austria,Rural population (1000 inhab),1962.0,2527.0,E,NaN,1967.0,2596.0,E,NaN,1972.0,2644.0,E,NaN,1977.0,2667.0,E,NaN,1982.0,2660.0,E,NaN,1987.0,2655.0,E,NaN,1992.0,2700.0,E,NaN,1997.0,2760.0,E,NaN,2002.0,2809.0,E,NaN,2007.0,2840.0,E,NaN,2012.0,2943.0,E,NaN,2017.0,3036.0,E,NaN
2,Austria,Urban population (1000 inhab),1962.0,4630.0,E,NaN,1967.0,4801.0,E,NaN,1972.0,4937.0,E,NaN,1977.0,4970.0,E,NaN,1982.0,4942.0,E,NaN,1987.0,4984.0,E,NaN,1992.0,5131.0,E,NaN,1997.0,5273.0,E,NaN,2002.0,5325.0,E,NaN,2007.0,5472.0,E,NaN,2012.0,5575.0,E,NaN,2017.0,5699.0,E,NaN
3,Austria,Population density (inhab/km2),1962.0,85.32,E,NaN,1967.0,88.19,E,NaN,1972.0,90.38,E,NaN,1977.0,91.05,E,NaN,1982.0,90.63,E,NaN,1987.0,91.07,E,NaN,1992.0,93.36,E,NaN,1997.0,95.77,E,NaN,2002.0,96.97,E,NaN,2007.0,99.09,E,NaN,2012.0,101.5,E,NaN,2017.0,104.1,E,NaN
4,Austria,Gross Domestic Product (GDP) (current US$),1962.0,7.75611021E9,E,NaN,1967.0,1.1579431669E10,E,NaN,1972.0,2.2006470861E10,E,NaN,1977.0,5.142158563E10,E,NaN,1982.0,7.1103585384E10,E,NaN,1987.0,1.24E11,E,NaN,1992.0,1.95E11,E,NaN,1997.0,2.12E11,E,NaN,2002.0,2.13E11,E,NaN,2007.0,3.86E11,E,NaN,2012.0,4.07E11,E,NaN,2015.0,3.74E11,E,NaN

In [23]:
datac = datac.rename(columns = {'Unnamed: 0':'country', 
                                'Unnamed: 1':'attribute',
                                'Unnamed: 2':'year1',
                                'Unnamed: 6':'year2',
                                'Unnamed: 10':'year3',
                                'Unnamed: 14':'year4',
                                'Unnamed: 18':'year5',
                                'Unnamed: 22':'year6',
                                'Unnamed: 26':'year7',
                                'Unnamed: 30':'year8',                               
                                'Unnamed: 34':'year9',
                                'Unnamed: 38':'year10',
                                'Unnamed: 42':'year11',
                                'Unnamed: 46':'year12'
                               })
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 50 columns):
country        905 non-null object
attribute      837 non-null object
year1          462 non-null float64
1958-1962      492 non-null object
Unnamed: 4     337 non-null object
Unnamed: 5     5 non-null object
year2          462 non-null float64
1963-1967      492 non-null object
Unnamed: 8     337 non-null object
Unnamed: 9     5 non-null object
year3          503 non-null float64
1968-1972      533 non-null object
Unnamed: 12    368 non-null object
Unnamed: 13    5 non-null object
year4          505 non-null float64
1973-1977      535 non-null object
Unnamed: 16    375 non-null object
Unnamed: 17    5 non-null object
year5          535 non-null float64
1978-1982      565 non-null object
Unnamed: 20    397 non-null object
Unnamed: 21    5 non-null object
year6          535 non-null float64
1983-1987      565 non-null object
Unnamed: 24    399 non-null object
Unnamed: 25    5 non-null object
year7          653 non-null float64
1988-1992      683 non-null object
Unnamed: 28    505 non-null object
Unnamed: 29    6 non-null object
year8          649 non-null float64
1993-1997      679 non-null object
Unnamed: 32    496 non-null object
Unnamed: 33    6 non-null object
year9          699 non-null float64
1998-2002      729 non-null object
Unnamed: 36    557 non-null object
Unnamed: 37    6 non-null object
year10         682 non-null float64
2003-2007      712 non-null object
Unnamed: 40    536 non-null object
Unnamed: 41    6 non-null object
year11         718 non-null float64
2008-2012      748 non-null object
Unnamed: 44    563 non-null object
Unnamed: 45    6 non-null object
year12         668 non-null float64
2013-2017      698 non-null object
Unnamed: 48    486 non-null object
Unnamed: 49    0 non-null float64
dtypes: float64(13), object(37)
memory usage: 365.4+ KB

In [24]:
datac.columns

Index(['country', 'attribute', 'year1', '1958-1962', 'Unnamed: 4',
       'Unnamed: 5', 'year2', '1963-1967', 'Unnamed: 8', 'Unnamed: 9', 'year3',
       '1968-1972', 'Unnamed: 12', 'Unnamed: 13', 'year4', '1973-1977',
       'Unnamed: 16', 'Unnamed: 17', 'year5', '1978-1982', 'Unnamed: 20',
       'Unnamed: 21', 'year6', '1983-1987', 'Unnamed: 24', 'Unnamed: 25',
       'year7', '1988-1992', 'Unnamed: 28', 'Unnamed: 29', 'year8',
       '1993-1997', 'Unnamed: 32', 'Unnamed: 33', 'year9', '1998-2002',
       'Unnamed: 36', 'Unnamed: 37', 'year10', '2003-2007', 'Unnamed: 40',
       'Unnamed: 41', 'year11', '2008-2012', 'Unnamed: 44', 'Unnamed: 45',
       'year12', '2013-2017', 'Unnamed: 48', 'Unnamed: 49'],
      dtype='object')

In [25]:
datac1 = datac.copy()
for v in range(50) :
    try :
        datac1.drop(columns=f'Unnamed: {v}', inplace=True)
    except : 
        pass

In [26]:
datac1.columns

Index(['country', 'attribute', 'year1', '1958-1962', 'year2', '1963-1967',
       'year3', '1968-1972', 'year4', '1973-1977', 'year5', '1978-1982',
       'year6', '1983-1987', 'year7', '1988-1992', 'year8', '1993-1997',
       'year9', '1998-2002', 'year10', '2003-2007', 'year11', '2008-2012',
       'year12', '2013-2017'],
      dtype='object')

In [27]:
print('dataf1 nb rows and columns')
print(dataf1.shape[0],dataf1.shape[1])
print('datac1 nb rows and columns')
print(datac1.shape[0],datac1.shape[1])

dataf1 nb rows and columns
7140 4
datac1 nb rows and columns
935 26

In [44]:
dataf1.iloc[7070] # C'est le dernier champ intéressant, après ce sont les données du fichier

country             United States of America
attribute    Environmental Flow Requirements
year                                    2017
value                                   1491
Name: 7070, dtype: object

In [45]:
dataf2 = dataf1[dataf1.index < 7071]
dataf2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7071 entries, 0 to 7070
Data columns (total 4 columns):
country      7071 non-null object
attribute    7071 non-null object
year         7071 non-null float64
value        7071 non-null float64
dtypes: float64(2), object(2)
memory usage: 276.2+ KB

In [30]:
datac1.iloc[866]  # a partir de l'index 867 ce ne sont plus que des infos inutiles sur le fichier lui-même

country                            United States of America
attribute    Environmental Flow Requirements (10^9 m3/year)
year1                                                  1962
1958-1962                                            1491.0
year2                                                  1967
1963-1967                                            1491.0
year3                                                  1972
1968-1972                                            1491.0
year4                                                  1977
1973-1977                                            1491.0
year5                                                  1982
1978-1982                                            1491.0
year6                                                  1987
1983-1987                                            1491.0
year7                                                  1992
1988-1992                                            1491.0
year8                                                  1997
1993-1997                                            1491.0
year9                                                  2002
1998-2002                                            1491.0
year10                                                 2007
2003-2007                                            1491.0
year11                                                 2012
2008-2012                                            1491.0
year12                                                 2017
2013-2017                                            1491.0
Name: 866, dtype: object

In [46]:
datac2 = datac1[datac1.index < 867]
datac2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 867 entries, 0 to 866
Data columns (total 26 columns):
country      837 non-null object
attribute    837 non-null object
year1        462 non-null float64
1958-1962    492 non-null object
year2        462 non-null float64
1963-1967    492 non-null object
year3        503 non-null float64
1968-1972    533 non-null object
year4        505 non-null float64
1973-1977    535 non-null object
year5        535 non-null float64
1978-1982    565 non-null object
year6        535 non-null float64
1983-1987    565 non-null object
year7        653 non-null float64
1988-1992    683 non-null object
year8        649 non-null float64
1993-1997    679 non-null object
year9        699 non-null float64
1998-2002    729 non-null object
year10       682 non-null float64
2003-2007    712 non-null object
year11       718 non-null float64
2008-2012    748 non-null object
year12       668 non-null float64
2013-2017    698 non-null object
dtypes: float64(12), object(14)
memory usage: 182.9+ KB

### Il faut maintenant concaténer les deux fichiers dataf2 et datac2 + le scrapping de Zhefeng

## 3. Data Features - first on one country or region, then extension
- Datas from 1988 to 2019, year by year - idealy week per week !
- As many datafiles as Country
- Each file is a feature / date datafile
- Global water at disposal for population (by Country)
- Detail water at disposal (eventualy) : rivers (instant stream), dams (volume), underground (volume), etc.
- Population count (by country)
- GDP (gross domestic product or PIB or HDI human development index)
- Usage related datas :
- - average water consumption per inhabitant (by country)
- - average energy consumption per inhabitant (by country) or water consumption for energy production
- - eventualy, industrialisation rate or water use for industrie (by country)
- - eventualy, agricultural rate or water use for agriculture (by country)

## 4. Preprocessing
- data formating : for exemple 1 dataset for 1 country with the year as column and features as rows
- data cleaning
- FAO EDA simple analysis (Exploratory Data Analysis) :
- - https://www.kaggle.com/marcinjadwizyc/fao-simple-eda
- - https://www.kaggle.com/hungnd11/exploring-the-fao-dataset
- Hydrofunctions
- - https://github.com/mroberge/hydrofunctions

## 5. Modeling
- Statistics using Machine Learning
- Prediction with time series or others

## 6. Restitution
- Précontainérisation : fichier de variables de configuration multi-utilisateurs
- - Requirement.txt
- - launching file (an url file)
- Map and curves restitution on actual and predictive water stress by country
- Interactive web restitution