# WATER SCARCITY by country (rareté de l'eau)
- with prediction of future situation
- Target (objectif de prediction) : 
   - accessible drinking water per inhabitant

## Scrapping

- Starting Scrapping
- Managing connexion shutdown, i.e. restarting loading at the same point
- Random time scrapping in order to stay hidden
- Manage 'my user agent' in order to scrap in 'browser mode' and not 'robot mode'
- Sites à scrapper :
- ---Consommation moyenne d'eau par habitant et par pays
- - https://www.cieau.com/le-metier-de-leau/ressource-en-eau-eau-potable-eaux-usees/la-consommation-deau-domestique-est-elle-la-meme-a-travers-le-monde/
- - https://fr.wikipedia.org/wiki/Consommation_d%27eau_domestique_par_pays
- --- Consommation d'eau virtuelle
- - https://www.consoglobe.com/eau-virtuelle-conflit-3120-cg
- - https://www.consoglobe.com/eau-virtuelle-consommation-cachee-cg
The idea with scrapping  is :
- each scrapping is specific to one web site (html code for balises)
- if web site is javascript encoded, you have to use a javascript interface to a 'false internet explorer (google or other)' , then send the 'html transformation' to BeautifulSoup

## 2. Ressources
FAO and UNO sites are web accessing datas, directly or with 'wget' command
- FAO http://www.fao.org/nr/water/aquastat/data/query/index.html
- UNO https://population.un.org/wpp/Download/Standard/Population/
- Population Mondiale par Pays ou Région (UNO)
- Total Population per Country (FAO Aquastat)
- Water disponibility per Country or Region (FAO Aquastat)
- Water consumption per inhabitant, by Country or Region (FAO + divers documents moyennés)
- [GDP per capita] = [Gross Domestic Product (GDP)]/[Total population]/1000  (FAO Aquastat)

- Scrapping : un seul des lien suffit, les autres sont redondants
- Datasets : voir Rev3 : Datac contient tout - Dataf population only
- Version 4 : simplification et mise en forme des données :
- Axe 1 (colonnes) = dates (temps)
- Axe 2 (lignes) = attributs
- Axe 3 (épaisseur) = pays

# Imports

In [13]:
import pandas as pd
import numpy as np

In [6]:
# imports for scrapping
# import scrapping_cieau  # import 'our project' .py fonction

# Data import

## Import dataset

In [15]:
## title <a class="tocSkip">
# pour élargir l'affichage des données lors des 'print'
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 8000)
#pd.set_option('display.width', 1000)

In [35]:
# Largest Dataset
datac = pd.read_csv("../data/FAO_aquastat_tables_1958_2017.csv")

In [36]:
# Environmental Flow Requirements - To inspect ...
dataf = pd.read_csv("../data/FAO_aquastat_flat_1958_2017.csv")

## Scraping dataset

In [7]:
url_cieau = "https://www.cieau.com/le-metier-de-leau/ressource-en-eau-eau-potable-eaux-usees/la-consommation-deau-domestique-est-elle-la-meme-a-travers-le-monde/"
# data_conso = scrapping_cieau(url_cieau)

# Data Preprocessing

## Visualisation

In [26]:
datac.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1958-1962,Unnamed: 4,Unnamed: 5,Unnamed: 6,1963-1967,Unnamed: 8,Unnamed: 9,Unnamed: 10,1968-1972,Unnamed: 12,Unnamed: 13,Unnamed: 14,1973-1977,Unnamed: 16,Unnamed: 17,Unnamed: 18,1978-1982,Unnamed: 20,Unnamed: 21,Unnamed: 22,1983-1987,Unnamed: 24,Unnamed: 25,Unnamed: 26,1988-1992,Unnamed: 28,Unnamed: 29,Unnamed: 30,1993-1997,Unnamed: 32,Unnamed: 33,Unnamed: 34,1998-2002,Unnamed: 36,Unnamed: 37,Unnamed: 38,2003-2007,Unnamed: 40,Unnamed: 41,Unnamed: 42,2008-2012,Unnamed: 44,Unnamed: 45,Unnamed: 46,2013-2017,Unnamed: 48,Unnamed: 49
0,Austria,Total population (1000 inhab),1962.0,7157.0,E,NaN,1967.0,7397.0,E,NaN,1972.0,7581.0,E,NaN,1977.0,7637.0,E,NaN,1982.0,7602.0,E,NaN,1987.0,7639.0,E,NaN,1992.0,7831.0,E,NaN,1997.0,8033.0,E,NaN,2002.0,8134.0,E,NaN,2007.0,8312.0,E,NaN,2012.0,8518.0,E,NaN,2017.0,8735.0,E,NaN
1,Austria,Rural population (1000 inhab),1962.0,2527.0,E,NaN,1967.0,2596.0,E,NaN,1972.0,2644.0,E,NaN,1977.0,2667.0,E,NaN,1982.0,2660.0,E,NaN,1987.0,2655.0,E,NaN,1992.0,2700.0,E,NaN,1997.0,2760.0,E,NaN,2002.0,2809.0,E,NaN,2007.0,2840.0,E,NaN,2012.0,2943.0,E,NaN,2017.0,3036.0,E,NaN
2,Austria,Urban population (1000 inhab),1962.0,4630.0,E,NaN,1967.0,4801.0,E,NaN,1972.0,4937.0,E,NaN,1977.0,4970.0,E,NaN,1982.0,4942.0,E,NaN,1987.0,4984.0,E,NaN,1992.0,5131.0,E,NaN,1997.0,5273.0,E,NaN,2002.0,5325.0,E,NaN,2007.0,5472.0,E,NaN,2012.0,5575.0,E,NaN,2017.0,5699.0,E,NaN
3,Austria,Population density (inhab/km2),1962.0,85.32,E,NaN,1967.0,88.19,E,NaN,1972.0,90.38,E,NaN,1977.0,91.05,E,NaN,1982.0,90.63,E,NaN,1987.0,91.07,E,NaN,1992.0,93.36,E,NaN,1997.0,95.77,E,NaN,2002.0,96.97,E,NaN,2007.0,99.09,E,NaN,2012.0,101.5,E,NaN,2017.0,104.1,E,NaN
4,Austria,Gross Domestic Product (GDP) (current US$),1962.0,7.75611021E9,E,NaN,1967.0,1.1579431669E10,E,NaN,1972.0,2.2006470861E10,E,NaN,1977.0,5.142158563E10,E,NaN,1982.0,7.1103585384E10,E,NaN,1987.0,1.24E11,E,NaN,1992.0,1.95E11,E,NaN,1997.0,2.12E11,E,NaN,2002.0,2.13E11,E,NaN,2007.0,3.86E11,E,NaN,2012.0,4.07E11,E,NaN,2015.0,3.74E11,E,NaN

## Modifying column labels

In [27]:
datac = datac.rename(columns = {'Unnamed: 0':'country', 
                                'Unnamed: 1':'attribute',
# Unnamed 2 6 10 14 18 22 26 30 34 38 42 46 are 'years' values
# and will not be used anymore
                               })
datac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 935 entries, 0 to 934
Data columns (total 50 columns):
country        905 non-null object
attribute      837 non-null object
Unnamed: 2     462 non-null float64
1958-1962      492 non-null object
Unnamed: 4     337 non-null object
Unnamed: 5     5 non-null object
Unnamed: 6     462 non-null float64
1963-1967      492 non-null object
Unnamed: 8     337 non-null object
Unnamed: 9     5 non-null object
Unnamed: 10    503 non-null float64
1968-1972      533 non-null object
Unnamed: 12    368 non-null object
Unnamed: 13    5 non-null object
Unnamed: 14    505 non-null float64
1973-1977      535 non-null object
Unnamed: 16    375 non-null object
Unnamed: 17    5 non-null object
Unnamed: 18    535 non-null float64
1978-1982      565 non-null object
Unnamed: 20    397 non-null object
Unnamed: 21    5 non-null object
Unnamed: 22    535 non-null float64
1983-1987      565 non-null object
Unnamed: 24    399 non-null object
Unnamed: 25    5 non-null object
Unnamed: 26    653 non-null float64
1988-1992      683 non-null object
Unnamed: 28    505 non-null object
Unnamed: 29    6 non-null object
Unnamed: 30    649 non-null float64
1993-1997      679 non-null object
Unnamed: 32    496 non-null object
Unnamed: 33    6 non-null object
Unnamed: 34    699 non-null float64
1998-2002      729 non-null object
Unnamed: 36    557 non-null object
Unnamed: 37    6 non-null object
Unnamed: 38    682 non-null float64
2003-2007      712 non-null object
Unnamed: 40    536 non-null object
Unnamed: 41    6 non-null object
Unnamed: 42    718 non-null float64
2008-2012      748 non-null object
Unnamed: 44    563 non-null object
Unnamed: 45    6 non-null object
Unnamed: 46    668 non-null float64
2013-2017      698 non-null object
Unnamed: 48    486 non-null object
Unnamed: 49    0 non-null float64
dtypes: float64(13), object(37)
memory usage: 365.4+ KB

In [28]:
datac.columns

Index(['country', 'attribute', 'Unnamed: 2', '1958-1962', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', '1963-1967', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', '1968-1972', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       '1973-1977', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18', '1978-1982',
       'Unnamed: 20', 'Unnamed: 21', 'Unnamed: 22', '1983-1987', 'Unnamed: 24',
       'Unnamed: 25', 'Unnamed: 26', '1988-1992', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', '1993-1997', 'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34',
       '1998-2002', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', '2003-2007',
       'Unnamed: 40', 'Unnamed: 41', 'Unnamed: 42', '2008-2012', 'Unnamed: 44',
       'Unnamed: 45', 'Unnamed: 46', '2013-2017', 'Unnamed: 48',
       'Unnamed: 49'],
      dtype='object')

## Preprocessing

### Cleaning

In [29]:
datac1 = datac.copy()
for v in range(50) :
    try :
        datac1.drop(columns=f'Unnamed: {v}', inplace=True)
    except : 
        pass

In [30]:
datac1.columns

Index(['country', 'attribute', '1958-1962', '1963-1967', '1968-1972',
       '1973-1977', '1978-1982', '1983-1987', '1988-1992', '1993-1997',
       '1998-2002', '2003-2007', '2008-2012', '2013-2017'],
      dtype='object')

In [31]:
datac1.head(10)

,country,attribute,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
0,Austria,Total population (1000 inhab),7157.0,7397.0,7581.0,7637.0,7602.0,7639.0,7831.0,8033.0,8134.0,8312.0,8518.0,8735.0
1,Austria,Rural population (1000 inhab),2527.0,2596.0,2644.0,2667.0,2660.0,2655.0,2700.0,2760.0,2809.0,2840.0,2943.0,3036.0
2,Austria,Urban population (1000 inhab),4630.0,4801.0,4937.0,4970.0,4942.0,4984.0,5131.0,5273.0,5325.0,5472.0,5575.0,5699.0
3,Austria,Population density (inhab/km2),85.32,88.19,90.38,91.05,90.63,91.07,93.36,95.77,96.97,99.09,101.5,104.1
4,Austria,Gross Domestic Product (GDP) (current US$),7.75611021E9,1.1579431669E10,2.2006470861E10,5.142158563E10,7.1103585384E10,1.24E11,1.95E11,2.12E11,2.13E11,3.86E11,4.07E11,3.74E11
5,Austria,GDP per capita (current US$/inhab),1084.0,1565.0,2903.0,6733.0,9353.0,16232.0,24901.0,26391.0,26186.0,46439.0,47781.0,42816.0
6,Austria,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.7935,NaN,0.8364,NaN,0.8839,0.885
7,Austria,Long-term average annual precipitation in dept...,1110.0,1110.0,1110.0,1110.0,1110.0,1110.0,1110.0,1110.0,1110.0,1110.0,1110.0,1110.0
8,Austria,Long-term average annual precipitation in volu...,93.11,93.11,93.11,93.11,93.11,93.11,93.11,93.11,93.11,93.11,93.11,93.11
9,Austria,Surface water produced internally (10^9 m3/year),55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0,55.0

In [38]:
print('datac1 nb rows and columns')
print('         ',datac1.shape[0],'     ',datac1.shape[1])

datac1 nb rows and columns
          935       14

In [39]:
datac1.iloc[866]  # a partir de l'index 867 ce ne sont plus que des infos inutiles sur le fichier lui-même

country                            United States of America
attribute    Environmental Flow Requirements (10^9 m3/year)
1958-1962                                            1491.0
1963-1967                                            1491.0
1968-1972                                            1491.0
1973-1977                                            1491.0
1978-1982                                            1491.0
1983-1987                                            1491.0
1988-1992                                            1491.0
1993-1997                                            1491.0
1998-2002                                            1491.0
2003-2007                                            1491.0
2008-2012                                            1491.0
2013-2017                                            1491.0
Name: 866, dtype: object

In [41]:
datac2 = datac1[datac1.index < 867]
datac2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 867 entries, 0 to 866
Data columns (total 14 columns):
country      837 non-null object
attribute    837 non-null object
1958-1962    492 non-null object
1963-1967    492 non-null object
1968-1972    533 non-null object
1973-1977    535 non-null object
1978-1982    565 non-null object
1983-1987    565 non-null object
1988-1992    683 non-null object
1993-1997    679 non-null object
1998-2002    729 non-null object
2003-2007    712 non-null object
2008-2012    748 non-null object
2013-2017    698 non-null object
dtypes: object(14)
memory usage: 101.6+ KB

In [42]:
datac2.loc[datac2['attribute'] == 'Total population (1000 inhab)']

,country,attribute,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
0,Austria,Total population (1000 inhab),7157.0,7397.0,7581.0,7637.0,7602.0,7639.0,7831.0,8033.0,8134.0,8312.0,8518.0,8735.0
28,Belgium,Total population (1000 inhab),9193.0,9476.0,9651.0,9752.0,9821.0,9868.0,10016.0,10193.0,10365.0,10698.0,11084.0,11429.0
56,Bosnia and Herzegovina,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,4239.0,3752.0,3776.0,3774.0,3648.0,3507.0
84,Bulgaria,Total population (1000 inhab),8022.0,8343.0,8609.0,8802.0,8931.0,8960.0,8676.0,8212.0,7866.0,7567.0,7310.0,7085.0
112,Cambodia,Total population (1000 inhab),6029.0,6685.0,7300.0,7194.0,6918.0,8196.0,9622.0,11296.0,12635.0,13677.0,14777.0,16005.0
140,Croatia,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,4733.0,4532.0,4396.0,4362.0,4297.0,4189.0
168,Denmark,Total population (1000 inhab),4649.0,4832.0,4991.0,5097.0,5123.0,41047.0,5172.0,5278.0,5373.0,5470.0,5611.0,5734.0
196,Finland,Total population (1000 inhab),4499.0,4589.0,4651.0,4747.0,4835.0,4946.0,5045.0,5152.0,5213.0,5298.0,5413.0,5523.0
224,France,Total population (1000 inhab),47121.0,49792.0,51740.0,53516.0,54548.0,56025.0,57497.0,58763.0,60225.0,61961.0,63640.0,64980.0
252,Germany,Total population (1000 inhab),74489.0,77353.0,78902.0,78702.0,77945.0,78054.0,80046.0,81500.0,81612.0,81344.0,81066.0,82114.0
280,Greece,Total population (1000 inhab),8348.0,8525.0,8770.0,9255.0,9804.0,10068.0,10451.0,10961.0,11217.0,11381.0,11378.0,11160.0
308,Iceland,Total population (1000 inhab),182.7,197.4,209.9,222.3,233.3,247.1,260.2,272.7,285.3,305.2,325.5,335.0
336,Ireland,Total population (1000 inhab),2825.0,2885.0,3030.0,3291.0,3505.0,3572.0,3589.0,3712.0,3976.0,4398.0,4678.0,4762.0
364,Italy,Total population (1000 inhab),50487.0,52488.0,54321.0,55845.0,56717.0,57089.0,57189.0,57185.0,57802.0,59313.0,59734.0,59360.0
392,Liechtenstein,Total population (1000 inhab),17.29,19.69,22.15,24.44,26.52,27.8,29.5,31.84,34.02,35.32,36.54,37.92
420,Lithuania,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,3688.0,3580.0,3445.0,3260.0,3037.0,2890.0
448,Luxembourg,Total population (1000 inhab),390.3,402.4,409.8,414.1,417.0,419.0,425.3,432.8,443.7,474.7,532.4,583.5
476,Monaco,Total population (1000 inhab),23.04,23.29,24.05,25.81,27.62,29.17,29.86,31.25,32.63,35.11,37.78,38.7
504,Montenegro,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,619.5,626.4,629.0
532,Netherlands,Total population (1000 inhab),11767.0,12557.0,13292.0,13893.0,14295.0,14683.0,15166.0,15655.0,16110.0,16507.0,16789.0,17036.0
560,North Macedonia,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,1989.0,2000.0,2049.0,2065.0,2074.0,2083.0
588,Norway,Total population (1000 inhab),3639.0,3785.0,3934.0,4044.0,4112.0,4187.0,4293.0,4420.0,4546.0,4720.0,5012.0,5305.0
616,Poland,Total population (1000 inhab),30386.0,31898.0,33143.0,34567.0,36217.0,37539.0,38192.0,38539.0,38484.0,38330.0,38317.0,38171.0
644,Portugal,Total population (1000 inhab),8939.0,8803.0,8840.0,9484.0,9926.0,9971.0,10010.0,10233.0,10444.0,10630.0,10582.0,10330.0
672,Romania,Total population (1000 inhab),18924.0,19811.0,21012.0,22084.0,22842.0,23312.0,23373.0,22633.0,21855.0,21036.0,20171.0,19679.0
700,Serbia,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9135.0,8957.0,8791.0
728,Spain,Total population (1000 inhab),31165.0,32926.0,34761.0,36764.0,38310.0,39057.0,39515.0,40132.0,41986.0,45394.0,46857.0,46354.0
756,Sweden,Total population (1000 inhab),7580.0,7876.0,8127.0,8251.0,8329.0,8421.0,8687.0,8869.0,8921.0,9163.0,9541.0,9911.0
784,Switzerland,Total population (1000 inhab),5503.0,5992.0,6270.0,6341.0,6342.0,6532.0,6815.0,7092.0,7244.0,7560.0,8032.0,8476.0
812,United Kingdom,Total population (1000 inhab),53171.0,54929.0,55953.0,56262.0,56296.0,56709.0,57495.0,58347.0,59349.0,61415.0,64250.0,66182.0
840,United States of America,Total population (1000 inhab),192398.0,203982.0,213352.0,223324.0,234133.0,245403.0,257454.0,272137.0,287507.0,300595.0,313335.0,324459.0

In [43]:
datac2["country"].isna().sum()

30

In [44]:
datac2.isnull().sum()

country       30
attribute     30
1958-1962    375
1963-1967    375
1968-1972    334
1973-1977    332
1978-1982    302
1983-1987    302
1988-1992    184
1993-1997    188
1998-2002    138
2003-2007    155
2008-2012    119
2013-2017    169
dtype: int64

In [45]:
test = datac2[datac2.isna().any(axis=1)]
test

,country,attribute,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
6,Austria,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.7935,NaN,0.8364,NaN,0.8839,0.885
18,Austria,Total exploitable water resources (10^9 m3/year),93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,NaN
21,Austria,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,0.09,0.2,0.1,0.1,0.1,NaN,0.0771,NaN
22,Austria,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,2.694,2.671,3.022,2.857,2.899,NaN,2.695,NaN
23,Austria,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,0.5582,0.7088,0.6851,0.6871,0.6687,NaN,0.72,NaN
24,Austria,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,3.342,3.58,3.807,3.644,3.668,NaN,3.492,NaN
25,Austria,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,439.6,468.6,486.1,453.6,450.9,NaN,410.0,NaN
27,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
31,Belgium,Population density (inhab/km2),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,339.5,350.4,363.1,374.4
34,Belgium,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.8064,NaN,0.8738,NaN,0.8886,0.8903
46,Belgium,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Belgium,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,0.3612,NaN,NaN,0.016,0.0382,0.0369,0.0402,NaN
50,Belgium,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,7.676,NaN,NaN,6.8,5.964,5.45,5.256,NaN
51,Belgium,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,0.9933,NaN,NaN,0.874,0.7358,0.7304,0.7093,NaN
52,Belgium,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,9.03,NaN,NaN,7.69,6.738,6.217,6.005,NaN
53,Belgium,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,919.5,NaN,NaN,754.4,650.1,581.1,541.8,NaN
55,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
56,Bosnia and Herzegovina,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,4239.0,3752.0,3776.0,3774.0,3648.0,3507.0
57,Bosnia and Herzegovina,Rural population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,2604.0,2360.0,2246.0,2259.0,2138.0,1979.0
58,Bosnia and Herzegovina,Urban population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,1635.0,1392.0,1530.0,1515.0,1510.0,1528.0
59,Bosnia and Herzegovina,Population density (inhab/km2),NaN,NaN,NaN,NaN,NaN,NaN,82.78,73.27,73.74,73.7,71.24,68.48
60,Bosnia and Herzegovina,Gross Domestic Product (GDP) (current US$),NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.671816504E9,6.651226179E9,1.5776422673E10,1.7207367626E10,1.5995392118E10
61,Bosnia and Herzegovina,GDP per capita (current US$/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,978.6,1761.0,4180.0,4717.0,4561.0
62,Bosnia and Herzegovina,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7257,0.7325
63,Bosnia and Herzegovina,Long-term average annual precipitation in dept...,NaN,NaN,NaN,NaN,NaN,NaN,1028.0,1028.0,1028.0,1028.0,1028.0,1028.0
64,Bosnia and Herzegovina,Long-term average annual precipitation in volu...,NaN,NaN,NaN,NaN,NaN,NaN,52.64,52.64,52.64,52.64,52.64,52.64
65,Bosnia and Herzegovina,Surface water produced internally (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,34.34,34.34,34.34,34.34,34.34,34.34
66,Bosnia and Herzegovina,Groundwater produced internally (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,11.57,11.57,11.57,11.57,11.57,11.57
67,Bosnia and Herzegovina,Overlap between surface water and groundwater ...,NaN,NaN,NaN,NaN,NaN,NaN,10.41,10.41,10.41,10.41,10.41,10.41
68,Bosnia and Herzegovina,Total internal renewable water resources (IRWR...,NaN,NaN,NaN,NaN,NaN,NaN,35.5,35.5,35.5,35.5,35.5,35.5
69,Bosnia and Herzegovina,Total internal renewable water resources per c...,NaN,NaN,NaN,NaN,NaN,NaN,8375.0,9462.0,9401.0,9406.0,9731.0,10123.0
70,Bosnia and Herzegovina,Water resources: total external renewable (10^...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,2.0,2.0
71,Bosnia and Herzegovina,Total renewable surface water (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,36.34,36.34,36.34,36.34,36.34,36.34
72,Bosnia and Herzegovina,Total renewable groundwater (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,11.57,11.57,11.57,11.57,11.57,11.57
73,Bosnia and Herzegovina,Total renewable water resources per capita (m3...,NaN,NaN,NaN,NaN,NaN,NaN,8846.0,9995.0,9931.0,9936.0,10280.0,10693.0
74,Bosnia and Herzegovina,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,Bosnia and Herzegovina,Total dam capacity (km3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.912,2.912,2.912,2.912,2.912
76,Bosnia and Herzegovina,Dam capacity per capita (m3/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,776.1,771.2,771.6,798.2,830.3
77,Bosnia and Herzegovina,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Bosnia and Herzegovina,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0488,NaN
79,Bosnia and Herzegovina,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3218,NaN,NaN,0.3262
80,Bosnia and Herzegovina,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.3341,0.329,0.3279
81,Bosnia and Herzegovina,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,88.53,90.19,93.5
82,Bosnia and Herzegovina,Environmental Flow Requirements (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,22.44,22.44,22.44,22.44,22.44,22.44
83,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
88,Bulgaria,Gross Domestic Product (GDP) (current US$),NaN,NaN,NaN,NaN,1.9804095112E10,2.8429027976E10,1.0350515464E10,1.1195630537E10,1.6360346654E10,4.476573338E10,5.3576670828E10,4.895295908E10
89,Bulgaria,GDP per capita (current US$/inhab),NaN,NaN,NaN,NaN,2217.0,3173.0,1193.0,1363.0,2080.0,5916.0,7329.0,6909.0
90,Bulgaria,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.6947,NaN,0.7132,NaN,0.7781,0.7817
102,Bulgaria,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Bulgaria,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,2.225,NaN,0.743,0.8759,0.9494,0.8288
106,Bulgaria,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,4.852,NaN,4.776,NaN,3.817,3.901
107,Bulgaria,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,0.417,NaN,1.07,NaN,0.9483,0.8996
108,Bulgaria,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,14.18,14.09,7.494,NaN,6.589,6.202,5.715,5.629
109,Bulgaria,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,1588.0,1573.0,863.8,NaN,837.7,819.6,781.8,794.5
111,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
116,Cambodia,Gross Domestic Product (GDP) (current US$),6.60000009E8,9.62857134E8,5.0554946E8,5.88443894E8,NaN,8.24166656E8,1.980183168E9,3.443413389E9,4.284028138E9,8.639235842E9,1.403838345E10,1.8049954289E10
117,Cambodia,GDP per capita (current US$/inhab),109.5,144.0,69.25,81.8,NaN,100.6,205.8,304.8,339.1,631.7,950.0,1128.0
118,Cambodia,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.3642,NaN,0.4186,NaN,0.546,0.5548
130,Cambodia,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,Cambodia,Total dam capacity (km3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Cambodia,Dam capacity per capita (m3/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Cambodia,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.053,NaN,NaN
134,Cambodia,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,0.0052,NaN,NaN,NaN,0.033,NaN,NaN
135,Cambodia,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,0.026,NaN,NaN,NaN,0.098,NaN,NaN
136,Cambodia,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.184,NaN,NaN
137,Cambodia,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,159.7,NaN,NaN
139,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
140,Croatia,Total population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,4733.0,4532.0,4396.0,4362.0,4297.0,4189.0
141,Croatia,Rural population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,2125.0,1993.0,1923.0,1879.0,1796.0,1670.0
142,Croatia,Urban population (1000 inhab),NaN,NaN,NaN,NaN,NaN,NaN,2608.0,2539.0,2473.0,2483.0,2501.0,2519.0
143,Croatia,Population density (inhab/km2),NaN,NaN,NaN,NaN,NaN,NaN,83.71,80.06,77.75,77.08,75.93,74.02
144,Croatia,Gross Domestic Product (GDP) (current US$),NaN,NaN,NaN,NaN,NaN,NaN,1.0279479681E10,2.3822087053E10,2.6878499206E10,6.0093155533E10,5.6485301967E10,4.8732003674E10
145,Croatia,GDP per capita (current US$/inhab),NaN,NaN,NaN,NaN,NaN,NaN,2172.0,5256.0,6114.0,13777.0,13145.0,11633.0
146,Croatia,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.7491,NaN,0.8166,0.8175
147,Croatia,Long-term average annual precipitation in dept...,NaN,NaN,NaN,NaN,NaN,NaN,1113.0,1113.0,1113.0,1113.0,1113.0,1113.0
148,Croatia,Long-term average annual precipitation in volu...,NaN,NaN,NaN,NaN,NaN,NaN,62.93,63.01,62.93,62.98,62.98,62.98
149,Croatia,Surface water produced internally (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,27.2,27.2,27.2,27.2,27.2,27.2
150,Croatia,Groundwater produced internally (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,11.0,11.0,11.0,11.0,11.0,11.0
151,Croatia,Overlap between surface water and groundwater ...,NaN,NaN,NaN,NaN,NaN,NaN,0.5,0.5,0.5,0.5,0.5,0.5
152,Croatia,Total internal renewable water resources (IRWR...,NaN,NaN,NaN,NaN,NaN,NaN,37.7,37.7,37.7,37.7,37.7,37.7
153,Croatia,Total internal renewable water resources per c...,NaN,NaN,NaN,NaN,NaN,NaN,7965.0,8319.0,8576.0,8643.0,8774.0,9000.0
154,Croatia,Water resources: total external renewable (10^...,NaN,NaN,NaN,NaN,NaN,NaN,67.8,67.8,67.8,67.8,67.8,67.8
155,Croatia,Total renewable surface water (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,95.0,95.0,95.0,95.0,95.0,95.0
156,Croatia,Total renewable groundwater (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,11.0,11.0,11.0,11.0,11.0,11.0
157,Croatia,Total renewable water resources per capita (m3...,NaN,NaN,NaN,NaN,NaN,NaN,22290.0,23279.0,23999.0,24186.0,24552.0,25185.0
158,Croatia,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,Croatia,Total dam capacity (km3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.962,0.962,0.962,0.962,0.962
160,Croatia,Dam capacity per capita (m3/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,212.3,218.8,220.5,223.9,229.6
161,Croatia,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0059,0.0032,0.0086,NaN
162,Croatia,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0628,NaN,0.1477,0.126
163,Croatia,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.513,0.466
164,Croatia,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.6693,0.6338
165,Croatia,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.8,151.3
166,Croatia,Environmental Flow Requirements (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,60.52,60.52,60.52,60.52,60.52,60.52
167,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
174,Denmark,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.7987,NaN,0.8618,NaN,0.9211,0.9233
186,Denmark,Total exploitable water resources (10^9 m3/year),2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,NaN
187,Denmark,Total dam capacity (km3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
188,Denmark,Dam capacity per capita (m3/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
189,Denmark,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,0.18,0.46,0.46,0.7,0.465,0.369,0.1652,0.1175,0.164,NaN
190,Denmark,Industrial water withdrawal (10^9 m3/year),NaN,NaN,0.08,0.045,0.045,0.33,0.225,NaN,0.0619,0.0423,0.128,NaN
191,Denmark,Municipal water withdrawal (10^9 m3/year),NaN,NaN,0.46,0.7,0.7,0.6746,0.571,NaN,0.4408,0.411,0.36,NaN
192,Denmark,Total water withdrawal (10^9 m3/year),NaN,NaN,0.72,1.205,1.205,1.705,1.261,0.9325,0.6679,0.5708,0.652,NaN
193,Denmark,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,144.3,236.4,235.2,41.54,243.8,176.7,124.3,104.4,116.2,NaN
195,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
202,Finland,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.7834,NaN,0.8568,NaN,0.8817,0.8827
214,Finland,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,Finland,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,0.02,0.05,0.05,0.05,NaN,NaN
218,Finland,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,1.903,2.124,NaN,NaN,NaN,NaN
219,Finland,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,0.424,0.412,0.404,0.4094,0.4,0.4
220,Finland,Total water withdrawal (10^9 m3/year),NaN,NaN,3.3,3.55,3.7,4.0,2.347,2.586,2.328,6.562,NaN,NaN
221,Finland,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,709.5,747.8,765.3,808.7,465.2,501.9,446.6,1239.0,NaN,NaN
223,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
230,France,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.7793,NaN,0.8484,NaN,0.8859,0.8881
242,France,Total exploitable water resources (10^9 m3/year),100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,NaN
245,France,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,4.919,3.35,4.291,3.933,2.913,3.111
246,France,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,24.51,28.32,21.1,22.11,21.79,19.77,21.1
247,France,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,5.904,5.982,5.89,5.966,5.683,5.38,5.163
248,France,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,30.97,34.89,39.22,30.34,32.37,31.41,28.06,29.37
249,France,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,567.8,622.8,682.1,516.3,537.5,506.9,440.9,452.0
251,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
256,Germany,Gross Domestic Product (GDP) (current US$),NaN,NaN,2.99E11,5.98E11,7.74E11,1.29E12,2.12E12,2.22E12,2.08E12,3.44E12,3.54E12,3.36E12
257,Germany,GDP per capita (current US$/inhab),NaN,NaN,3790.0,7598.0,9930.0,16527.0,26485.0,27239.0,25486.0,42290.0,43668.0,40919.0
258,Germany,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.8009,NaN,0.8552,NaN,0.9148,0.9161
270,Germany,Total exploitable water resources (10^9 m3/year),101.0,101.0,101.0,101.0,101.0,101.0,101.0,101.0,101.0,101.0,101.0,NaN
271,Germany,Total dam capacity (km3),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN
272,Germany,Dam capacity per capita (m3/inhab),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.34,NaN
273,Germany,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,1.6,1.6,1.14,0.1317,0.2109,0.597
274,Germany,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.8,32.6,NaN,NaN,5.053
275,Germany,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.8,5.409,NaN,NaN,19.68
276,Germany,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,46.27,45.2,39.15,32.3,33.04,25.33
277,Germany,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,NaN,NaN,578.0,554.6,479.7,397.1,407.6,308.5
279,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
286,Greece,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.7592,NaN,0.7991,NaN,0.8646,0.8652
298,Greece,Total exploitable water resources (10^9 m3/year),29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0,NaN
301,Greece,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,2.425,3.576,NaN,4.6,7.9,7.6,8.42,8.458,7.918,NaN
302,Greece,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,0.1148,NaN,0.24,NaN,0.2339,NaN,0.3255,NaN,NaN
303,Greece,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,0.585,NaN,0.656,NaN,0.8614,NaN,0.8462,1.293,NaN
304,Greece,Total water withdrawal (10^9 m3/year),NaN,NaN,4.254,4.276,5.04,5.496,8.038,8.695,9.259,9.63,NaN,NaN
305,Greece,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,485.1,462.0,514.1,545.9,769.1,793.3,825.4,846.1,NaN,NaN
307,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
314,Iceland,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.8016,NaN,0.8591,NaN,0.8969,0.8994
326,Iceland,Total exploitable water resources (10^9 m3/year),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
327,Iceland,Total dam capacity (km3),NaN,NaN,NaN,1.18,1.375,1.906,1.906,2.306,2.306,2.306,2.306,2.306
328,Iceland,Dam capacity per capita (m3/inhab),NaN,NaN,NaN,5308.0,5894.0,7713.0,7325.0,8456.0,8083.0,7556.0,7084.0,6884.0
329,Iceland,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,0.004,0.004,0.07,NaN,0.07,0.07,3.0E-4,3.0E-4
330,Iceland,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,0.01,0.01,0.01,NaN,0.014,0.014,0.2,0.198
331,Iceland,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,0.094,0.098,0.087,NaN,0.081,0.081,0.094,0.08
332,Iceland,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,0.108,0.112,0.167,NaN,0.165,0.165,3.571,0.2783
333,Iceland,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,462.9,453.3,641.8,NaN,578.3,540.6,10971.0,830.7
335,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
342,Ireland,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.77,NaN,0.8606,NaN,0.9099,0.9155
354,Ireland,Total exploitable water resources (10^9 m3/year),43.0,43.0,43.0,43.0,43.0,43.0,43.0,43.0,43.0,43.0,43.0,NaN
357,Ireland,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,0.179,NaN,0.13,NaN,NaN,0.179,NaN,NaN,NaN,NaN
358,Ireland,Industrial water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,0.527,NaN,NaN,0.527,NaN,0.051,NaN,NaN
359,Ireland,Municipal water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,0.413,NaN,NaN,0.47,0.58,0.679,0.628,0.631
360,Ireland,Total water withdrawal (10^9 m3/year),NaN,NaN,NaN,NaN,1.07,NaN,NaN,1.176,NaN,0.73,0.757,NaN
361,Ireland,Total water withdrawal per capita (m3/inhab/year),NaN,NaN,NaN,NaN,305.3,NaN,NaN,316.8,NaN,166.0,161.8,NaN
363,NaN,NaN,1958-1962,1963-1967,1968-1972,1973-1977,1978-1982,1983-1987,1988-1992,1993-1997,1998-2002,2003-2007,2008-2012,2013-2017
370,Italy,Human Development Index (HDI) [highest = 1] (-),NaN,NaN,NaN,NaN,NaN,NaN,0.766,NaN,0.829,NaN,0.8717,0.873
382,Italy,Total exploitable water resources (10^9 m3/year),123.0,123.0,123.0,123.0,123.0,123.0,123.0,123.0,123.0,123.0,123.0,NaN
383,Italy,Total dam capacity (km3),NaN,NaN,7.72,NaN,NaN,8.43,NaN,NaN,NaN,NaN,NaN,NaN
384,Italy,Dam capacity per capita (m3/inhab),NaN,NaN,142.1,NaN,NaN,147.7,NaN,NaN,NaN,NaN,NaN,NaN
385,Italy,Agricultural water withdrawal (10^9 m3/year),NaN,NaN,25.6,NaN,NaN,NaN,NaN,NaN,20.01,12.89,NaN,17.0
386,Italy,Industrial water withdrawal (10^9 m3/year),NaN,NaN,9.0,12.09,15.17,13.84,12.5,NaN,16.29,NaN,NaN,7.7
387,Italy,Municipal water withdrawal (10^9 m3/year),NaN,NaN,7.0,7.434,7.868,7.184,6.5,NaN,9.111,8.942,9.451,9.488
388,Italy,Total water withdrawal (10^9 m3/year),NaN,NaN,41.6,NaN,NaN,NaN,NaN,NaN,45.41,NaN,53.75,34.19

In [46]:
# fill NaN with 0 ie when NaN no stats
datac2.fillna(value=0, inplace=True)
datac2.isnull().sum()

/home/phm/bin/anaconda/lib/python3.7/site-packages/pandas/core/frame.py:4239: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

country      0
attribute    0
1958-1962    0
1963-1967    0
1968-1972    0
1973-1977    0
1978-1982    0
1983-1987    0
1988-1992    0
1993-1997    0
1998-2002    0
2003-2007    0
2008-2012    0
2013-2017    0
dtype: int64

26/08 - Point VH-PM : 
-  TERMINER DE NETTOYER DATAC2
-  STACKER le dataframe scrappé : data_conso. Vérifier et intégrer les données par pays. Construire la method adhoc qui puisse être appelée depuis le notebook
-  VOIR S'il y a besoin de l'information dataF : 'Environmental Flow Requirements'

### Concatenate all datas from different sources

### Transform DataFrame in Numpy Array
- With label axis == time (years)
- With rows axis == attributes (data specs)
- With Z axis == Countries

# Analysis of Data Features - Plottings
- PLOTTINGS 
- first on one country or region, then extension
- Datas from 1988 to 2019, year by year - idealy week per week !
- As many datafiles as Country
- Each file is a feature / date datafile
- Global water at disposal for population (by Country)
- Detail water at disposal (eventualy) : rivers (instant stream), dams (volume), underground (volume), etc.
- Population count (by country)
- GDP (gross domestic product or PIB or HDI human development index)
- Usage related datas :
- - average water consumption per inhabitant (by country)
- - average energy consumption per inhabitant (by country) or water consumption for energy production
- - eventualy, industrialisation rate or water use for industrie (by country)
- - eventualy, agricultural rate or water use for agriculture (by country)

## Using existing libraries
- data formating : for exemple 1 dataset for 1 country with the year as column and features as rows
- data cleaning
- FAO EDA simple analysis (Exploratory Data Analysis) :
- - https://www.kaggle.com/marcinjadwizyc/fao-simple-eda
- - https://www.kaggle.com/hungnd11/exploring-the-fao-dataset
- Hydrofunctions
- - https://github.com/mroberge/hydrofunctions

# Modeling
- Statistics using Machine Learning
- Prediction with time series or others

# Restitution
- Précontainérisation : fichier de variables de configuration multi-utilisateurs
- - Requirement.txt
- - launching file (an url file)
- World Map and curves restitution on actual and predictive water stress by country
- Interactive web restitution